Repository StemVibrations/STEM: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, mypy, flake8

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: yapf
        name: yapf
        language: python
        entry: yapf
        args: [-i]
        types: [python]
      - id: mypy
        name: mypy
        language: python
        entry: mypy
        files: "^stem/"
        args: [ --config-file, "pyproject.toml" ]
        types: [python]
      - id: flake8
        name: flake8
        language: python
        entry: flake8
        files: "^stem/"

Add rail_joint image to static assets
  benchmark_tests/test_train_uvec_soil_3d_joint/output_linux/json_output.json
  docs/_static/rail_joint.png
Due: none

added results
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_linux/json_output.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_linux/json_output_stage_2.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_300.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_400.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_500.vtk
Due: none

Refactor UVEC test for 3D soil model: add joint parameters and improve structure
  benchmark_tests/test_train_uvec_soil_3d_joint/test_train_uvec_soil_3d_joint.py
Due: yapf

added results
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/json_output.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/json_output_stage_2.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_300.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_400.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_500.vtk
Due: none

Add tests for tutorial 5 and update tutorial 4 and 5 documentation
  benchmark_tests/test_tutorial_docs.py
  docs/tutorial4.rst
  docs/tutorial5.rst
Due: yapf

updated solver settings tolerance
  stem/solver.py
Due: yapf, mypy, flake8

Fix formatting in test_tutorial_4 by adding a blank line before test_tutorial_5
  benchmark_tests/test_tutorial_docs.py
Due: yapf

Update stem/model.py
  stem/model.py
Due: yapf, mypy, flake8

Formatting corrected
  stem/model.py
  tests/test_model.py
Due: yapf, mypy, flake8

added tolerance for the solver for testing
  benchmark_tests/test_1d_wave_prop_drained_soil/test_1d_wave_prop_drained_soil.py
  benchmark_tests/test_1d_wave_prop_drained_soil_gravity/test_1d_wave_prop_drained_soil_gravity.py
  benchmark_tests/test_1d_wave_prop_drained_soil_multi_stage/test_1d_wave_prop_drained_soil_multi_stage.py
  benchmark_tests/test_1d_wave_prop_drained_soil_umat/test_1d_wave_prop_drained_soil_umat.py
  benchmark_tests/test_1d_wave_prop_drained_soil_unloading/test_1d_wave_prop_drained_soil_unloading.py
  benchmark_tests/test_lysmer_boundary_column3d_tetra_with_two_soils/test_lysmer_boundary_column3d_tetra_with_two_soils.py
  benchmark_tests/test_train_uvec_3d/test_train_on_embankment_3d.py
  benchmark_tests/test_train_uvec_soil_3d/test_train_uvec_soil_3d.py
Due: yapf

added tolerance for solver
  benchmark_tests/test_uvec_on_soil_2d/test_uvec_on_soil_2d.py
Due: yapf

Update solver settings to use Amgcl and add cleanup for stage folders
  benchmark_tests/test_train_uvec_soil_3d_joint/test_train_uvec_soil_3d_joint.py
Due: yapf

updated tests
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/json_output.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/json_output_stage_2.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_300.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_400.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_500.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_linux/json_output.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_linux/json_output_stage_2.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_300.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_400.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_500.vtk
Due: none

Add absolute tolerance parameter to dictionary equality assertion
  tests/utils.py
Due: yapf

added results to benchmark
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/json_output.json
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/json_output_stage_2.json
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_1000.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_300.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_400.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_500.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_600.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_700.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_800.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_900.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/test_train_uvec_soil_3d_irr.py
Due: yapf

Fix formatting in tutorial5.rst for improved readability
  docs/tutorial5.rst
Due: none

updated files for testing windows
  benchmark_tests/test_train_uvec_soil_3d_irr/output_windows/json_output.json
  benchmark_tests/test_train_uvec_soil_3d_irr/output_windows/json_output_stage_2.json
  benchmark_tests/test_train_uvec_soil_3d_irr/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_1000.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_300.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_400.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_500.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_600.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_700.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_800.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_900.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/test_train_uvec_soil_3d_irr.py
Due: yapf

added windows tests
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/json_output.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/json_output_stage_2.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_300.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_400.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_500.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_windows/json_output.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_windows/json_output_stage_2.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_300.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_400.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_500.vtk
Due: none

Enhance documentation in refs.bib and tutorials for UVEC model with irregularities and rail joint parameters
  docs/refs.bib
  docs/tutorial3.rst
  docs/tutorial5.rst
Due: none

updated joint results
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/json_output.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/json_output_stage_2.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_400.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_500.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/test_train_uvec_soil_3d_joint.py
Due: yapf

updated test files
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/json_output.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/json_output_stage_2.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_300.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_400.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_500.vtk
Due: none

updated tests
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/json_output.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/json_output_stage_2.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_300.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_400.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_500.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/test_train_uvec_soil_3d_joint.py
Due: yapf

updated results
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/json_output.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/json_output_stage_2.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_300.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_400.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_500.vtk
Due: none

linter
  benchmark_tests/test_1d_wave_prop_drained_soil_multi_stage/test_1d_wave_prop_drained_soil_multi_stage.py
  benchmark_tests/test_1d_wave_prop_drained_soil_unloading/test_1d_wave_prop_drained_soil_unloading.py
  benchmark_tests/test_train_uvec_soil_3d_irr/test_train_uvec_soil_3d_irr.py
  benchmark_tests/test_train_uvec_soil_3d_joint/test_train_uvec_soil_3d_joint.py
Due: yapf

Corrected the rotations
  stem/model.py
  tests/test_model.py
Due: yapf, mypy, flake8

fixed tutorial 3
  docs/tutorial3.rst
Due: none

fix: correct time step formatting in tutorial5
  docs/tutorial5.rst
Due: none

updated tests
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_linux/json_output.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_linux/json_output_stage_2.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_300.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_400.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_500.vtk
Due: none

updated test
  benchmark_tests/test_train_uvec_soil_3d_joint/test_train_uvec_soil_3d_joint.py
Due: yapf

updated tests
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/json_output.json
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/json_output_stage_2.json
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_1000.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_300.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_400.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_500.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_600.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_700.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_800.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_900.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/test_train_uvec_soil_3d_irr.py
  benchmark_tests/test_train_uvec_soil_3d_joint/test_train_uvec_soil_3d_joint.py
Due: yapf

Th determination of the intersection points becomes generic
  benchmark_tests/test_volume_sleepers/test_volume_sleepers.py
  stem/globals.py
  stem/model.py
  tests/test_model.py
Due: yapf, mypy, flake8

Changed according to reviewer's commments
  stem/model.py
  tests/test_model.py
Due: yapf, mypy, flake8

Formatting corrected
  stem/model.py
Due: yapf, mypy, flake8

updated tests
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/json_output.json
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/json_output_stage_2.json
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_300.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_400.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_500.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/test_train_uvec_soil_3d_irr.py
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/json_output.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/json_output_stage_2.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_300.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_400.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_500.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/json_output.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/json_output_stage_2.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_300.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_400.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_500.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_linux/json_output.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_linux/json_output_stage_2.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_300.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_400.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_500.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/test_train_uvec_soil_3d_joint.py
  tests/utils.py
Due: yapf

updated windows tests
  benchmark_tests/test_train_uvec_soil_3d_irr/output_windows/json_output.json
  benchmark_tests/test_train_uvec_soil_3d_irr/output_windows/json_output_stage_2.json
  benchmark_tests/test_train_uvec_soil_3d_irr/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_300.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_400.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_500.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/json_output.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/json_output_stage_2.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_300.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_400.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_500.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_windows/json_output.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_windows/json_output_stage_2.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_300.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_400.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_500.vtk
Due: none
