Repository StemVibrations/STEM: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, mypy, flake8

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: yapf
        name: yapf
        language: python
        entry: yapf
        args: [-i]
        types: [python]
      - id: mypy
        name: mypy
        language: python
        entry: mypy
        files: "^stem/"
        args: [ --config-file, "pyproject.toml" ]
        types: [python]
      - id: flake8
        name: flake8
        language: python
        entry: flake8
        files: "^stem/"

updated windows tests
  benchmark_tests/test_train_uvec_soil_3d_irr/output_windows/json_output.json
  benchmark_tests/test_train_uvec_soil_3d_irr/output_windows/json_output_stage_2.json
  benchmark_tests/test_train_uvec_soil_3d_irr/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_1000.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_300.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_500.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_600.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_700.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_800.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_900.vtk
Due: none

updated tests
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/json_output.json
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/json_output_stage_2.json
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_150.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_250.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_300.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_400.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_500.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/test_train_uvec_soil_3d_irr.py
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/json_output.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/json_output_stage_2.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_150.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_250.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_300.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_400.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_500.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_linux/json_output.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_linux/json_output_stage_2.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_150.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_250.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_300.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_400.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_500.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/test_train_uvec_soil_3d_joint.py
Due: yapf

updated tests windows
  benchmark_tests/test_train_uvec_soil_3d_irr/output_windows/json_output.json
  benchmark_tests/test_train_uvec_soil_3d_irr/output_windows/json_output_stage_2.json
  benchmark_tests/test_train_uvec_soil_3d_irr/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_150.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_250.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_300.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_400.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_train_uvec_soil_3d_irr/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_500.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/json_output.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/json_output_stage_2.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_150.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_250.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_300.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_400.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_500.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_windows/json_output.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_windows/json_output_stage_2.json
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_150.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_250.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_300.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_400.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_train_uvec_soil_3d_joint/output_normal_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_500.vtk
Due: none

updated requirements
  requirements.txt
  requirements_dev.txt
  setup.cfg
Due: none

renamed test
  benchmark_tests/test_train_track_uvec_soil_3d/output_linux/json_output.json
  benchmark_tests/test_train_track_uvec_soil_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_track_uvec_soil_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_150.vtk
  benchmark_tests/test_train_track_uvec_soil_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_track_uvec_soil_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_250.vtk
  benchmark_tests/test_train_track_uvec_soil_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_300.vtk
  benchmark_tests/test_train_track_uvec_soil_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_350.vtk
  benchmark_tests/test_train_track_uvec_soil_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_400.vtk
  benchmark_tests/test_train_track_uvec_soil_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_450.vtk
  benchmark_tests/test_train_track_uvec_soil_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_train_track_uvec_soil_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_500.vtk
  benchmark_tests/test_train_track_uvec_soil_3d/output_windows/json_output.json
  benchmark_tests/test_train_track_uvec_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_track_uvec_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_150.vtk
  benchmark_tests/test_train_track_uvec_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_track_uvec_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_250.vtk
  benchmark_tests/test_train_track_uvec_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_300.vtk
  benchmark_tests/test_train_track_uvec_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_350.vtk
  benchmark_tests/test_train_track_uvec_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_400.vtk
  benchmark_tests/test_train_track_uvec_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_450.vtk
  benchmark_tests/test_train_track_uvec_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_train_track_uvec_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_500.vtk
  benchmark_tests/test_train_track_uvec_soil_3d/test_train_track_uvec_soil_3d.py
Due: yapf

updated tests
  benchmark_tests/test_train_track_soil_uvec_3d_irr_multistage/output_linux/json_output.json
  benchmark_tests/test_train_track_soil_uvec_3d_irr_multistage/output_linux/json_output_stage_2.json
  benchmark_tests/test_train_track_soil_uvec_3d_irr_multistage/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_irr_multistage/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_150.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_irr_multistage/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_irr_multistage/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_250.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_irr_multistage/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_irr_multistage/output_windows/json_output.json
  benchmark_tests/test_train_track_soil_uvec_3d_irr_multistage/output_windows/json_output_stage_2.json
  benchmark_tests/test_train_track_soil_uvec_3d_irr_multistage/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_irr_multistage/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_150.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_irr_multistage/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_irr_multistage/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_250.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_irr_multistage/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_irr_multistage/test_train_track_soil_uvec_3d_irr_multistage.py
Due: yapf

add docstring to test_train_track_uvec_soil_3d function
  benchmark_tests/test_train_track_uvec_soil_3d/test_train_track_uvec_soil_3d.py
Due: yapf

updated tests
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_joint_linux/json_output.json
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_joint_linux/json_output_stage_2.json
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_joint_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_joint_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_150.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_joint_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_joint_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_250.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_joint_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_joint_windows/json_output.json
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_joint_windows/json_output_stage_2.json
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_150.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_250.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_normal_linux/json_output.json
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_normal_linux/json_output_stage_2.json
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_normal_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_normal_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_150.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_normal_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_normal_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_250.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_normal_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_normal_windows/json_output.json
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_normal_windows/json_output_stage_2.json
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_normal_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_normal_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_150.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_normal_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_normal_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_250.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_normal_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/rail_joint.gif
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/test_train_track_soil_uvec_3d_joint_multistage.py
Due: yapf

deleted unnecessary files
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/rail_joint.gif
Due: none

refactor tutorial5.rst to use variable for extrusion length and improve boundary condition definitions
  docs/tutorial5.rst
Due: none

update UVEC version to 1.1.2 in requirements and requirements_dev files
  requirements.txt
  requirements_dev.txt
Due: none

updated tutorial5
  docs/tutorial5.rst
Due: none

remove redundant sentence in tutorial5
  docs/tutorial5.rst
Due: none

fixed tutorial 5
  docs/tutorial5.rst
Due: none

Added new interface elements
  benchmark_tests/test_interfaces/test_interface.py
  stem/IO/kratos_material_io.py
  stem/model.py
  stem/soil_material.py
  stem/utils.py
Due: yapf, mypy, flake8

output is now only given on desired coordinates
  stem/geometry.py
  stem/model.py
  stem/output.py
  stem/utils.py
  tests/test_geometry.py
  tests/test_model.py
  tests/test_utils.py
Due: yapf, mypy, flake8

Added interfaces tests, corrected ordering interface elements
  benchmark_tests/test_interfaces/test_interface.py
  stem/model.py
  stem/utils_interface.py
  tests/test_utils_interface.py
Due: yapf, mypy, flake8

wip added test for splitting 3n lines
  stem/IO/kratos_io.py
  stem/model.py
  tests/test_model.py
Due: yapf, mypy, flake8

combined 2d lysmer tests with different element types
  benchmark_tests/test_lysmer_boundary_column2d/QUADRANGLE_4N/_output/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_lysmer_boundary_column2d/QUADRANGLE_4N/_output/output_vtk_porous_computational_model_part/porous_computational_model_part_0_15.vtk
  benchmark_tests/test_lysmer_boundary_column2d/QUADRANGLE_4N/_output/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_lysmer_boundary_column2d/QUADRANGLE_4N/_output/output_vtk_porous_computational_model_part/porous_computational_model_part_0_25.vtk
  benchmark_tests/test_lysmer_boundary_column2d/QUADRANGLE_4N/_output/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_lysmer_boundary_column2d/QUADRANGLE_4N/_output/output_vtk_porous_computational_model_part/porous_computational_model_part_0_5.vtk
  benchmark_tests/test_lysmer_boundary_column2d/QUADRANGLE_8N/_output/placeholder
  benchmark_tests/test_lysmer_boundary_column2d/TRIANGLE_3N/_output/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_lysmer_boundary_column2d/TRIANGLE_3N/_output/output_vtk_porous_computational_model_part/porous_computational_model_part_0_15.vtk
  benchmark_tests/test_lysmer_boundary_column2d/TRIANGLE_3N/_output/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_lysmer_boundary_column2d/TRIANGLE_3N/_output/output_vtk_porous_computational_model_part/porous_computational_model_part_0_25.vtk
  benchmark_tests/test_lysmer_boundary_column2d/TRIANGLE_3N/_output/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_lysmer_boundary_column2d/TRIANGLE_3N/_output/output_vtk_porous_computational_model_part/porous_computational_model_part_0_5.vtk
  benchmark_tests/test_lysmer_boundary_column2d/TRIANGLE_6N/_output/placeholder
  benchmark_tests/test_lysmer_boundary_column2d/test_lysmer_boundary_column2d.py
  benchmark_tests/test_lysmer_boundary_column2d_triangle/test_lysmer_boundary_column2d_triangle.py
  stem/IO/kratos_io.py
Due: yapf, mypy, flake8

combined 3d lysmer tests with different element types
  benchmark_tests/test_lysmer_boundary_column3d/HEXAHEDRON_20N/placeholder
  benchmark_tests/test_lysmer_boundary_column3d/HEXAHEDRON_8N/_output/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_lysmer_boundary_column3d/HEXAHEDRON_8N/_output/output_vtk_porous_computational_model_part/porous_computational_model_part_0_15.vtk
  benchmark_tests/test_lysmer_boundary_column3d/HEXAHEDRON_8N/_output/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_lysmer_boundary_column3d/HEXAHEDRON_8N/_output/output_vtk_porous_computational_model_part/porous_computational_model_part_0_25.vtk
  benchmark_tests/test_lysmer_boundary_column3d/HEXAHEDRON_8N/_output/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_lysmer_boundary_column3d/HEXAHEDRON_8N/_output/output_vtk_porous_computational_model_part/porous_computational_model_part_0_5.vtk
  benchmark_tests/test_lysmer_boundary_column3d/TETRAHEDRON_10N/placeholder
  benchmark_tests/test_lysmer_boundary_column3d/TETRAHEDRON_4N/_output/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_lysmer_boundary_column3d/TETRAHEDRON_4N/_output/output_vtk_porous_computational_model_part/porous_computational_model_part_0_15.vtk
  benchmark_tests/test_lysmer_boundary_column3d/TETRAHEDRON_4N/_output/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_lysmer_boundary_column3d/TETRAHEDRON_4N/_output/output_vtk_porous_computational_model_part/porous_computational_model_part_0_25.vtk
  benchmark_tests/test_lysmer_boundary_column3d/TETRAHEDRON_4N/_output/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_lysmer_boundary_column3d/TETRAHEDRON_4N/_output/output_vtk_porous_computational_model_part/porous_computational_model_part_0_5.vtk
  benchmark_tests/test_lysmer_boundary_column3d/test_lysmer_boundary_column3d.py
  benchmark_tests/test_lysmer_boundary_column3d_hexa/test_lysmer_boundary_column3d_hexa.py
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_40.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_60.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_70.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_80.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_90.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_40.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_60.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_70.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_80.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_90.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra10n/test_lysmer_boundary_column3d_tetra.py
Due: yapf

added 2d test beam on soil second order
  benchmark_tests/test_moving_load_on_beam_on_soil/order_1/_output/output_vtk_full_model/PorousDomain_0_10.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil/order_1/_output/output_vtk_full_model/PorousDomain_0_100.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil/order_1/_output/output_vtk_full_model/PorousDomain_0_20.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil/order_1/_output/output_vtk_full_model/PorousDomain_0_30.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil/order_1/_output/output_vtk_full_model/PorousDomain_0_40.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil/order_1/_output/output_vtk_full_model/PorousDomain_0_50.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil/order_1/_output/output_vtk_full_model/PorousDomain_0_60.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil/order_1/_output/output_vtk_full_model/PorousDomain_0_70.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil/order_1/_output/output_vtk_full_model/PorousDomain_0_80.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil/order_1/_output/output_vtk_full_model/PorousDomain_0_90.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil/order_2/_output/output_vtk_full_model/PorousDomain_0_10.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil/order_2/_output/output_vtk_full_model/PorousDomain_0_100.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil/order_2/_output/output_vtk_full_model/PorousDomain_0_20.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil/order_2/_output/output_vtk_full_model/PorousDomain_0_30.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil/order_2/_output/output_vtk_full_model/PorousDomain_0_40.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil/order_2/_output/output_vtk_full_model/PorousDomain_0_50.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil/order_2/_output/output_vtk_full_model/PorousDomain_0_60.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil/order_2/_output/output_vtk_full_model/PorousDomain_0_70.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil/order_2/_output/output_vtk_full_model/PorousDomain_0_80.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil/order_2/_output/output_vtk_full_model/PorousDomain_0_90.vtk
Due: none

added 2d test beam on soil second order
  benchmark_tests/test_moving_load_on_beam_on_soil/test_moving_load_on_beam_on_soil.py
Due: yapf

added 3d test beam on soil second order
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_linux/order_1/output_vtk_full_model/PorousDomain_0_10.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_linux/order_1/output_vtk_full_model/PorousDomain_0_100.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_linux/order_1/output_vtk_full_model/PorousDomain_0_20.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_linux/order_1/output_vtk_full_model/PorousDomain_0_30.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_linux/order_1/output_vtk_full_model/PorousDomain_0_40.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_linux/order_1/output_vtk_full_model/PorousDomain_0_50.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_linux/order_1/output_vtk_full_model/PorousDomain_0_60.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_linux/order_1/output_vtk_full_model/PorousDomain_0_70.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_linux/order_1/output_vtk_full_model/PorousDomain_0_80.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_linux/order_1/output_vtk_full_model/PorousDomain_0_90.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_linux/order_2/placeholder
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_windows/order_1/output_vtk_full_model/PorousDomain_0_10.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_windows/order_1/output_vtk_full_model/PorousDomain_0_100.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_windows/order_1/output_vtk_full_model/PorousDomain_0_20.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_windows/order_1/output_vtk_full_model/PorousDomain_0_30.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_windows/order_1/output_vtk_full_model/PorousDomain_0_40.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_windows/order_1/output_vtk_full_model/PorousDomain_0_50.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_windows/order_1/output_vtk_full_model/PorousDomain_0_60.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_windows/order_1/output_vtk_full_model/PorousDomain_0_70.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_windows/order_1/output_vtk_full_model/PorousDomain_0_80.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_windows/order_1/output_vtk_full_model/PorousDomain_0_90.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_windows/order_2/output_vtk_full_model/PorousDomain_0_10.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_windows/order_2/output_vtk_full_model/PorousDomain_0_100.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_windows/order_2/output_vtk_full_model/PorousDomain_0_20.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_windows/order_2/output_vtk_full_model/PorousDomain_0_30.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_windows/order_2/output_vtk_full_model/PorousDomain_0_40.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_windows/order_2/output_vtk_full_model/PorousDomain_0_50.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_windows/order_2/output_vtk_full_model/PorousDomain_0_60.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_windows/order_2/output_vtk_full_model/PorousDomain_0_70.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_windows/order_2/output_vtk_full_model/PorousDomain_0_80.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_windows/order_2/output_vtk_full_model/PorousDomain_0_90.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/test_moving_load_on_beam_on_soil_3D.py
Due: yapf

reference model
  Holten_reference_model.py
Due: yapf

Added unit tests and corrected small bugs
  stem/model.py
  tests/test_model.py
Due: yapf, mypy, flake8

Tests corrected
  stem/model.py
  tests/test_model.py
Due: yapf, mypy, flake8

Formatting corrected
  stem/IO/kratos_material_io.py
  stem/model.py
  stem/model_part.py
  stem/soil_material.py
  stem/utils.py
  stem/utils_interface.py
  tests/test_model.py
  tests/test_utils_interface.py
Due: yapf, mypy, flake8

Formatted files
  stem/IO/kratos_material_io.py
  stem/model.py
  stem/model_part.py
  stem/soil_material.py
  stem/utils.py
  stem/utils_interface.py
  tests/test_model.py
  tests/test_utils_interface.py
Due: yapf, mypy, flake8

Added tests
  tests/test_kratos_material_io.py
Due: yapf

Added json file required for the calculation
  tests/test_data/expected_interface_parameters.json
Due: none

Added missing tests
  tests/test_soil_material.py
Due: yapf

Added unit test
  tests/test_model.py
Due: yapf

Added more unit tests
  stem/model.py
  stem/soil_material.py
  tests/test_model.py
Due: yapf, mypy, flake8

Formatted
  tests/test_kratos_material_io.py
  tests/test_model.py
  tests/test_soil_material.py
Due: yapf

Sonderingen
  Ground_layers_Holten/GD231254-SW01.py
  Ground_layers_Holten/GD231254-SW02.py
  Ground_layers_Holten/GD231254-SW03.py
  Ground_layers_Holten/Notes_ground
  Ground_layers_Holten/__init__.py
Due: yapf

Sonderingen
  Ground_layers_Holten/GD231254-SW-ALL.py
  Ground_layers_Holten/GD231254-SW01.py
  Ground_layers_Holten/GD231254-SW02.py
  Ground_layers_Holten/GD231254-SW03.py
  Ground_layers_Holten/Notes_ground
Due: yapf

Sonderingen
  Ground_layers_Holten/GD231254-SW-ALL.py
  Ground_layers_Holten/Notes_ground
Due: yapf

Voeg plot grondlagen afbeelding toe
  Ground_layers_Holten/plot_grondlagen.png
Due: none

updated test results lysmer2d
  benchmark_tests/test_lysmer_boundary_column2d/TRIANGLE_3N/_output/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_lysmer_boundary_column2d/TRIANGLE_3N/_output/output_vtk_porous_computational_model_part/porous_computational_model_part_0_15.vtk
  benchmark_tests/test_lysmer_boundary_column2d/TRIANGLE_3N/_output/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_lysmer_boundary_column2d/TRIANGLE_3N/_output/output_vtk_porous_computational_model_part/porous_computational_model_part_0_25.vtk
  benchmark_tests/test_lysmer_boundary_column2d/TRIANGLE_3N/_output/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_lysmer_boundary_column2d/TRIANGLE_3N/_output/output_vtk_porous_computational_model_part/porous_computational_model_part_0_5.vtk
  stem/IO/kratos_material_io.py
  stem/stem.py
Due: yapf, mypy, flake8

updated test results lysmer2d with 2 soils
  benchmark_tests/test_lysmer_boundary_column2d_triangle_with_two_soils/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_lysmer_boundary_column2d_triangle_with_two_soils/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_15.vtk
  benchmark_tests/test_lysmer_boundary_column2d_triangle_with_two_soils/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_lysmer_boundary_column2d_triangle_with_two_soils/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_25.vtk
  benchmark_tests/test_lysmer_boundary_column2d_triangle_with_two_soils/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_lysmer_boundary_column2d_triangle_with_two_soils/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_5.vtk
Due: none
