Repository StemVibrations/STEM: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, mypy, flake8

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: yapf
        name: yapf
        language: python
        entry: yapf
        args: [-i]
        types: [python]
      - id: mypy
        name: mypy
        language: python
        entry: mypy
        files: "^stem/"
        args: [ --config-file, "pyproject.toml" ]
        types: [python]
      - id: flake8
        name: flake8
        language: python
        entry: flake8
        files: "^stem/"

updated version number
  stem/__version__.py
Due: yapf, mypy, flake8

cleanup
  benchmark_tests/analytical_solutions/strip_load.py
Due: yapf

fixed bug where labels were not shown in 2d plot
  stem/plot_utils.py
  tests/test_data/expected_geometry_2D.html
Due: yapf, mypy, flake8

Added solution to bug
  stem/stem.py
  tests/test_vtk_multistage_bug.py
Due: yapf, mypy, flake8

Incorrect file reverted
  benchmark_tests/test_multi_stage/test_multistage_block.py
Due: yapf

Refomarted files according to yapf
  stem/stem.py
  tests/test_vtk_multistage_bug.py
Due: yapf, mypy, flake8

Update benchmark_tests/test_multi_stage_umat/test_multi_stage_umat.py
  benchmark_tests/test_multi_stage_umat/test_multi_stage_umat.py
Due: yapf

Apply suggestions from code review
  benchmark_tests/test_multi_stage_umat/test_multi_stage_umat.py
Due: yapf

wip
  stem/model.py
Due: yapf, mypy, flake8

updated reqs
  requirements.txt
  requirements_dev.txt
  setup.cfg
Due: none

Apply suggestions from code review
  benchmark_tests/test_multi_stage_dynamic_to_static/test_multistage_dynamic_to_static.py
Due: yapf

fix for review 3
  benchmark_tests/test_multi_stage_dynamic_to_static/test_multistage_dynamic_to_static.py
Due: yapf

Added extended beam functionality
  benchmark_tests/test_extended_beam/test_extended_beam.py
  stem/model.py
Due: yapf, mypy, flake8

Added test for get_bounding_box_soil
  tests/test_model.py
Due: yapf

Added test for get_points_outside_soil_volume
  tests/test_model.py
Due: yapf

added function to add a BC on all surfaces on a plane or within a polygon
  stem/model.py
  tests/test_model.py
Due: yapf, mypy, flake8

ran pre-commit
  stem/model.py
  tests/test_model.py
Due: yapf, mypy, flake8

style
  stem/model.py
Due: yapf, mypy, flake8

Added test for generate_extended_straight_track
  stem/model.py
  tests/test_model.py
Due: yapf, mypy, flake8

refactor from tox
  benchmark_tests/test_extended_beam/test_extended_beam.py
  stem/model.py
  tests/test_model.py
Due: yapf, mypy, flake8

Added test for code coverage
  tests/test_model.py
Due: yapf

WIP
  benchmark_tests/test_moving_load_on_track_on_soil2/run_moving_load_on_track_on_soil2.py
  stem/model.py
  stem/track_utilities.py
Due: yapf, mypy, flake8

adding output files
  benchmark_tests/test_multi_stage_umat/output_/json_output.json
  benchmark_tests/test_multi_stage_umat/output_/json_output_stage_2.json
Due: none

added linear solvers
  stem/solver.py
  tests/test_solver.py
Due: yapf, mypy, flake8

wip
  benchmark_tests/test_moving_load_on_track_on_soil2/run_moving_load_on_track_on_soil2.py
Due: yapf

corrected benchmark tests
  benchmark_tests/test_lysmer_boundary_column3d_tetra_with_two_soils/test_lysmer_boundary_column3d_tetra_with_two_soils.py
  benchmark_tests/test_train_uvec_3d/test_train_on_embankment_3d.py
  benchmark_tests/test_uvec_on_soil_2d/test_uvec_on_soil_2d.py
Due: yapf

corrected docstrings
  stem/solver.py
Due: yapf, mypy, flake8

Updated according to mypy
  stem/model.py
  tests/test_model.py
Due: yapf, mypy, flake8

Apply suggestions from code review
  stem/model.py
  tests/test_model.py
  tests/test_stem.py
Due: yapf, mypy, flake8

fixings for review
  stem/model.py
  stem/stem.py
  tests/test_model.py
  tests/test_stem.py
Due: yapf, mypy, flake8

New unit tests for coverage
  tests/test_model.py
Due: yapf

Added docstrings to test
  tests/test_model.py
Due: yapf

fixings for review 2.0
  benchmark_tests/test_multi_stage_dynamic_to_static/test_multistage_dynamic_to_static.py
  benchmark_tests/test_multi_stage_umat/linear_elastic.dll
  benchmark_tests/test_multi_stage_umat/test_multi_stage_umat.py
Due: yapf

remove test call otherwise not skipped in linux..
  benchmark_tests/test_multi_stage_umat/test_multi_stage_umat.py
Due: yapf

adjusted test dyn to static
  benchmark_tests/test_multi_stage_dynamic_to_static/output_/json_output.json
  benchmark_tests/test_multi_stage_dynamic_to_static/output_/json_output_stage_2.json
  benchmark_tests/test_multi_stage_dynamic_to_static/test_multistage_dynamic_to_static.py
Due: yapf

wip
  benchmark_tests/test_moving_load_on_track_on_soil2/run_moving_load_on_track_on_soil2.py
  stem/model.py
  stem/track_utilities.py
Due: yapf, mypy, flake8
