Repository StemVibrations/STEM: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, mypy, flake8

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: yapf
        name: yapf
        language: python
        entry: yapf
        args: [-i]
        types: [python]
      - id: mypy
        name: mypy
        language: python
        entry: mypy
        files: "^stem/"
        args: [ --config-file, "pyproject.toml" ]
        types: [python]
      - id: flake8
        name: flake8
        language: python
        entry: flake8
        files: "^stem/"

adjust stemkratos in local
  benchmark_tests/test_multi_stage_dynamic_to_static/output_/json_output.json
  benchmark_tests/test_multi_stage_dynamic_to_static/output_/json_output_stage_2.json
  benchmark_tests/test_multi_stage_dynamic_to_static/test_multistage_dynamic_to_static.py
Due: yapf

adjust stemkratos in local
  benchmark_tests/test_multi_stage_dynamic_to_static/test_multistage_dynamic_to_static.py
Due: yapf

merge with benchmark stages...
  tests/test_stem.py
Due: yapf

small fix
  tests/test_stem.py
Due: yapf

Updated code and tests
  stem/stem.py
  tests/test_vtk_multistage_bug.py
Due: yapf, mypy, flake8

Fixed functionality and removed tests
  stem/stem.py
  tests/test_stem.py
  tests/test_vtk_multistage_bug.py
Due: yapf, mypy, flake8

flake8 + mypy changes
  stem/stem.py
  tests/test_stem.py
Due: yapf, mypy, flake8

Coverage and typo fixed
  stem/stem.py
  tests/test_stem.py
Due: yapf, mypy, flake8

Mypy error not caused by this commit fixed
  stem/stem.py
Due: yapf, mypy, flake8

modified file
  stem/stem.py
Due: yapf, mypy, flake8

Python 3.9 error fixed
  tests/test_stem.py
Due: yapf

Docstring renamed
  tests/test_stem.py
Due: yapf

Testing weird solution
  stem/stem.py
Due: yapf, mypy, flake8

3.9 resolve has a bug I use absolute instead
  stem/stem.py
  tests/test_stem.py
Due: yapf, mypy, flake8

Changes according to reviewer
  benchmark_tests/test_extended_beam/test_moving_load_on_extended_track.py
  stem/model.py
  tests/test_model.py
Due: yapf, mypy, flake8

Formatter commit
  stem/model.py
Due: yapf, mypy, flake8

adjust test function name to less generic
  tests/test_model.py
Due: yapf

Apply suggestions from code review
  stem/model.py
  stem/plot_utils.py
  stem/soil_material.py
Due: yapf, mypy, flake8

resolved comments box tiny expr
  stem/utils.py
  tests/test_utils.py
Due: yapf, mypy, flake8

resolved comments
  stem/geometry.py
  stem/model.py
  stem/model_part.py
  stem/utils.py
Due: yapf, mypy, flake8

np.NAN tp np.nan
  tests/test_utils.py
Due: yapf

corrected docstrings
  stem/model.py
  stem/model_part.py
  stem/utils.py
Due: yapf, mypy, flake8

corrected tests
  tests/test_geometry.py
Due: yapf

updated test
  tests/test_geometry.py
Due: yapf

review comments
  benchmark_tests/analytical_solutions/strip_load.py
  stem/model.py
Due: yapf, mypy, flake8

updated test files
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_40.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_60.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_70.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_80.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_90.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_40.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_60.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_70.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_80.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_90.vtk
Due: none

updated windows test files
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_40.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_60.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_70.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_80.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_90.vtk
  stem/model.py
Due: yapf, mypy, flake8

added references
  docs/bibliography.rst
  docs/index.rst
  docs/refs.bib
Due: none

corrected docstring
  benchmark_tests/analytical_solutions/strip_load.py
Due: yapf

ran precommit
  stem/model.py
Due: yapf, mypy, flake8

corrected docs
  docs/index.rst
Due: none

black formatter is now ignored
  pyproject.toml
  tests/test_stem.py
Due: yapf

precommit
  tests/test_stem.py
Due: yapf

Update docs/refs.bib
  docs/refs.bib
Due: none

Added tests
  benchmark_tests/test_extended_beam/compare_the_cases.py
  benchmark_tests/test_extended_beam/example_stiffness.py
  benchmark_tests/test_extended_beam/input_V.csv
  benchmark_tests/test_extended_beam/moving_load_on_extended.py
  benchmark_tests/test_extended_beam/moving_load_on_full_track.py
Due: yapf

Added changes according to reviewers comments
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_110.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_120.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_130.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_140.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_150.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_160.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_170.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_180.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_190.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_40.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_60.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_70.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_80.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_90.vtk
  benchmark_tests/test_extended_beam/test_moving_load_on_extended_track.py
  stem/model.py
Due: yapf, mypy, flake8

Baby branch uncoupled
  requirements.txt
  requirements_dev.txt
  setup.cfg
Due: none

Removed duplicate imports
  stem/model.py
Due: yapf, mypy, flake8
