Repository StemVibrations/STEM: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, mypy, flake8

yapf:
  name: yapf
  language: python
  entry: yapf
  args:
  - -i

mypy:
  name: mypy
  language: python
  entry: mypy
  args:
  - --config-file
  - pyproject.toml

flake8:
  name: flake8
  language: python
  entry: flake8

added raises to docstrings and corrected comments
  stem/IO/kratos_additional_processes_io.py
  stem/IO/kratos_io.py
Due: yapf, mypy, flake8

corrected end time in tutorial 1
  docs/tutorials.rst
Due: none

Update docs/tutorial4.rst
  docs/tutorial4.rst
Due: none

solved issue with missing codeblock
  docs/tutorial4.rst
Due: none

Update documentation and dependencies for improved clarity and functionality
  benchmark_tests/test_tutorial_docs.py
  docs/authors.rst
  docs/bibliography.rst
  docs/conf.py
  docs/index.rst
  docs/tutorial4.rst
  docs/tutorials.rst
  requirements_dev.txt
  setup.cfg
Due: yapf

added missing files
  docs/tutorial1.rst
  docs/tutorial2.rst
  docs/tutorial3.rst
Due: none

Update Sphinx and related dependencies to improve compatibility and functionality
  docs/requirements.txt
  requirements_dev.txt
  setup.cfg
Due: none

Refactor Sphinx extensions configuration for improved readability
  docs/conf.py
Due: yapf

Update license year and version number to 1.2.0
  LICENSE.md
  stem/__version__.py
Due: yapf, mypy, flake8

Update installation and usage links in README for latest documentation
  README.md
Due: none

Update README and requirements for version 1.2.1; add dependency installation check
  README.md
  requirements.txt
  requirements_dev.txt
  setup.cfg
  stem/__init__.py
Due: yapf, mypy, flake8

correct damping in tutorials
  docs/tutorial1.rst
  docs/tutorial2.rst
  docs/tutorial3.rst
  docs/tutorial4.rst
Due: none

corrected ref in README.md
  README.md
Due: none

corrected init with pre commit suggestions
  stem/__init__.py
Due: yapf, mypy, flake8

bump version to 1.2.1
  stem/__version__.py
Due: yapf, mypy, flake8

corrected boundary conditions in tutorial 3
  docs/tutorial3.rst
Due: none

update copyright year in documentation
  docs/conf.py
Due: yapf

restrict python version to <3.12 in setup.cfg
  setup.cfg
Due: none

bumped version to 1.2.2 and updated cfg
  setup.cfg
  stem/__version__.py
Due: yapf, mypy, flake8

update copyright year, specify Python version range, and bump version to 1.2.3a0
  docs/conf.py
  setup.cfg
  stem/__version__.py
Due: yapf, mypy, flake8

added hinge to stem and added benchmark test
  benchmark_tests/test_hinge_on_beam/test_hinge_on_beam.py
  stem/IO/kratos_additional_processes_io.py
  stem/IO/kratos_io.py
  stem/additional_processes.py
  stem/model.py
Due: yapf, mypy, flake8

added test for adding hinge on beam
  stem/model.py
  tests/test_model.py
Due: yapf, mypy, flake8

added io test for adding hinge
  tests/test_kratos_additional_processes_io.py
Due: yapf

corrected docstrings
  stem/IO/kratos_io.py
  stem/additional_processes.py
Due: yapf, mypy, flake8

Added functionality sleeper as a mass
  stem/model.py
  stem/utils.py
  tests/test_model.py
Due: yapf, mypy, flake8

Added utils tests
  stem/utils.py
  tests/test_utils.py
Due: yapf, mypy, flake8

Extended tests with geometry check
  tests/test_model.py
Due: yapf

mypy error corrected
  stem/model.py
Due: yapf, mypy, flake8

Corrected type
  setup.py
  stem/model.py
Due: yapf, mypy, flake8

Corrected type
  stem/model.py
Due: yapf, mypy, flake8

Mypy corrected
  stem/model.py
Due: yapf, mypy, flake8

Corrected flake8
  stem/model.py
Due: yapf, mypy, flake8

updated yapf
  stem/model.py
  stem/utils.py
Due: yapf, mypy, flake8

updated yapf
  tests/test_model.py
  tests/test_utils.py
Due: yapf

Added _compute_vertical_offset functions
  stem/model.py
Due: yapf, mypy, flake8

Added _compute_vertical_offset functions correct it format
  stem/model.py
Due: yapf, mypy, flake8

Added _generate_sleepers
  stem/model.py
Due: yapf, mypy, flake8

Added generate model part functions
  stem/model.py
Due: yapf, mypy, flake8

Path conditions:
  yapf: any of: \.py$
  mypy: any of: ^stem/ and \.py$
  flake8: any of: ^stem/
