Repository StemVibrations/STEM: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, mypy, flake8

yapf:
  name: yapf
  language: python
  entry: yapf
  args:
  - -i

mypy:
  name: mypy
  language: python
  entry: mypy
  args:
  - --config-file
  - pyproject.toml

flake8:
  name: flake8
  language: python
  entry: flake8

Added newline at the end of file
  stem/model.py
Due: yapf, mypy, flake8

Updated with new version stem
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_110.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_120.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_130.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_140.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_150.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_160.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_170.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_180.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_190.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_40.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_60.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_70.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_80.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_90.vtk
Due: none

Updated with the old wheels from kratos
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_110.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_120.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_130.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_140.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_150.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_160.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_170.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_180.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_190.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_40.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_60.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_70.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_80.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_90.vtk
Due: none

check linux env
  benchmark_tests/test_extended_beam/test_moving_load_on_extended_track.py
Due: yapf

corrected error message
  benchmark_tests/test_extended_beam/test_moving_load_on_extended_track.py
Due: yapf

Changed according to reviewers comments
  stem/stem.py
  tests/test_stem.py
Due: yapf, mypy, flake8

Updated format
  tests/test_stem.py
Due: yapf

Should not refer to baby branch
  requirements.txt
  requirements_dev.txt
  setup.cfg
Due: none

applied comments
  benchmark_tests/test_1d_wave_prop_drained_soil_umat/test_1d_wave_prop_drained_soil_umat.py
  benchmark_tests/test_multi_stage_umat/test_multi_stage_umat.py
  benchmark_tests/user_defined_models/linear_elastic.dll
  requirements.txt
  requirements_dev.txt
  setup.cfg
  stem/model.py
  tests/test_model.py
  tests/test_stem.py
Due: yapf, mypy, flake8

corrected docstring
  benchmark_tests/test_multi_stage_umat/test_multi_stage_umat.py
Due: yapf

corrected docstrings
  stem/model.py
Due: yapf, mypy, flake8

precommit
  stem/model.py
Due: yapf, mypy, flake8

merge
  benchmark_tests/test_1d_wave_prop_drained_soil_umat/test_1d_wave_prop_drained_soil_umat.py
  benchmark_tests/test_multi_stage_umat/test_multi_stage_umat.py
  benchmark_tests/user_defined_models/linear_elastic.dll
  stem/model.py
  tests/test_model.py
Due: yapf, mypy, flake8

updated requirements to use new solver
  requirements.txt
  requirements_dev.txt
  setup.cfg
  stem/model.py
Due: yapf, mypy, flake8

reverted order check
  stem/model.py
Due: yapf, mypy, flake8

added linear NR to strategy and changed default strategy
  stem/solver.py
Due: yapf, mypy, flake8

added test to parameterise strategy
  tests/test_solver.py
Due: yapf

added linear elastic umat and fixed test for linux
  benchmark_tests/test_1d_wave_prop_drained_soil_umat/test_1d_wave_prop_drained_soil_umat.py
  benchmark_tests/user_defined_models/linear_elastic.so
Due: yapf

Add platform check for unknown platforms in test_1d_wave_prop_drained_soil_umat.py
  benchmark_tests/test_1d_wave_prop_drained_soil_umat/test_1d_wave_prop_drained_soil_umat.py
Due: yapf

Refactor output settings in test_lysmer_boundary_column2d_triangle.py
  benchmark_tests/test_lysmer_boundary_column2d_triangle/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_lysmer_boundary_column2d_triangle/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_15.vtk
  benchmark_tests/test_lysmer_boundary_column2d_triangle/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_lysmer_boundary_column2d_triangle/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_25.vtk
  benchmark_tests/test_lysmer_boundary_column2d_triangle/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_lysmer_boundary_column2d_triangle/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_5.vtk
  benchmark_tests/test_lysmer_boundary_column2d_triangle/test_lysmer_boundary_column2d_triangle.py
Due: yapf

Refactor output settings in test_lysmer_boundary_column2d_triangle.py
  benchmark_tests/test_lysmer_boundary_column2d_triangle_with_two_soils/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_lysmer_boundary_column2d_triangle_with_two_soils/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_15.vtk
  benchmark_tests/test_lysmer_boundary_column2d_triangle_with_two_soils/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_lysmer_boundary_column2d_triangle_with_two_soils/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_25.vtk
  benchmark_tests/test_lysmer_boundary_column2d_triangle_with_two_soils/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_lysmer_boundary_column2d_triangle_with_two_soils/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_5.vtk
  benchmark_tests/test_lysmer_boundary_column2d_triangle_with_two_soils/test_lysmer_boundary_column2d_triangle_with_two_soils.py
Due: yapf

Fix comment
  stem/model.py
Due: yapf, mypy, flake8

updated mdpa for new order
  tests/test_data/expected_mdpa_file_3d.mdpa
  tests/test_data/expected_mdpa_file_3d_linux.mdpa
Due: none

fixed unit tests for new order
  tests/test_model.py
Due: yapf

updates text_lysmer_boundary_column_3d_tetra vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_40.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_60.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_70.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_80.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_90.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_40.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_60.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_70.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_80.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_90.vtk
Due: none

Update soil properties and test results test_lysmer_boundary_column3d_tetra_with_two_soils
  benchmark_tests/test_lysmer_boundary_column3d_tetra_with_two_soils/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra_with_two_soils/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra_with_two_soils/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra_with_two_soils/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra_with_two_soils/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra_with_two_soils/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra_with_two_soils/test_lysmer_boundary_column3d_tetra_with_two_soils.py
Due: yapf

updated tests
  benchmark_tests/test_1d_wave_prop_drained_soil/output_/output_vtk_full_model/PorousDomain_0_10.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil/output_/output_vtk_full_model/PorousDomain_0_20.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil/output_/output_vtk_full_model/PorousDomain_0_30.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil/output_/output_vtk_full_model/PorousDomain_0_40.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil/output_/output_vtk_full_model/PorousDomain_0_50.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil/output_/output_vtk_full_model/PorousDomain_0_60.vtk
Due: none

Update test results in vtk file
  benchmark_tests/test_1d_wave_prop_drained_soil_constant_mass_damping/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_constant_mass_damping/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_constant_mass_damping/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_constant_mass_damping/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_40.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_constant_mass_damping/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_constant_mass_damping/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_60.vtk
Due: none

Update test module with NewtonRaphsonStrategy
  benchmark_tests/test_beam_multistage/test_beam_multistage.py
Due: yapf

Update test moving load on 3 groups 3d for linux
  benchmark_tests/test_moving_load_on_3_groups_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_110.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_120.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_130.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_140.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_150.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_160.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_170.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_180.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_190.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_40.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_60.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_70.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_80.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_90.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/test_moving_load_on_3_groups_3d.py
Due: yapf

corrected strategy
  benchmark_tests/test_moving_load_on_embankment_3d/test_moving_load_on_embankment_3d.py
Due: yapf

updated results for test moving load on beam on soil
  benchmark_tests/test_moving_load_on_beam_on_soil/output_/output_vtk_full_model/PorousDomain_0_10.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil/output_/output_vtk_full_model/PorousDomain_0_100.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil/output_/output_vtk_full_model/PorousDomain_0_20.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil/output_/output_vtk_full_model/PorousDomain_0_30.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil/output_/output_vtk_full_model/PorousDomain_0_40.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil/output_/output_vtk_full_model/PorousDomain_0_50.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil/output_/output_vtk_full_model/PorousDomain_0_60.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil/output_/output_vtk_full_model/PorousDomain_0_70.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil/output_/output_vtk_full_model/PorousDomain_0_80.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil/output_/output_vtk_full_model/PorousDomain_0_90.vtk
Due: none

Update strategy on test
  benchmark_tests/test_moving_load_on_soil_2d/test_moving_load_on_soil_2d.py
Due: yapf

updated results
  benchmark_tests/test_moving_load_on_soil_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_moving_load_on_soil_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_moving_load_on_soil_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_moving_load_on_soil_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_moving_load_on_soil_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_40.vtk
  benchmark_tests/test_moving_load_on_soil_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_moving_load_on_soil_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_60.vtk
  benchmark_tests/test_moving_load_on_soil_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_70.vtk
  benchmark_tests/test_moving_load_on_soil_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_80.vtk
  benchmark_tests/test_moving_load_on_soil_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_90.vtk
  benchmark_tests/test_moving_load_on_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_moving_load_on_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_moving_load_on_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_moving_load_on_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_moving_load_on_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_40.vtk
  benchmark_tests/test_moving_load_on_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_moving_load_on_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_60.vtk
  benchmark_tests/test_moving_load_on_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_70.vtk
  benchmark_tests/test_moving_load_on_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_80.vtk
  benchmark_tests/test_moving_load_on_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_90.vtk
Due: none

Refactor test_moving_load_on_embankment_3d.py
  benchmark_tests/test_moving_load_on_embankment_3d/test_moving_load_on_embankment_3d.py
Due: yapf

updated test_moving_load_on_track_on_soil.py
  benchmark_tests/test_moving_load_on_track_on_soil/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_40.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_60.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_70.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_80.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_90.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_40.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_60.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_70.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_80.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_90.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/test_moving_load_on_track_on_soil.py
Due: yapf

updated multi_Stage results
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_1.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_10.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_11.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_12.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_13.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_14.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_15.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_16.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_17.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_18.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_19.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_2.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_20.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_21.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_22.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_23.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_3.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_4.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_5.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_6.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_7.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_8.vtk
  benchmark_tests/test_multi_stage/output_/output_vtk_full_model/PorousDomain_0_9.vtk
  benchmark_tests/test_multi_stage/test_multistage_block.py
Due: yapf

Refactor test_multistage_dynamic_to_static.py and update multi_Stage results
  benchmark_tests/test_multi_stage_dynamic_to_static/output_/json_output.json
  benchmark_tests/test_multi_stage_dynamic_to_static/output_/json_output_stage_2.json
  benchmark_tests/test_multi_stage_dynamic_to_static/test_multistage_dynamic_to_static.py
Due: yapf

Refactor test_multi_stage_umat.py and update linear elastic umat path
  benchmark_tests/test_multi_stage_umat/output_/json_output.json
  benchmark_tests/test_multi_stage_umat/output_/json_output_stage_2.json
  benchmark_tests/test_multi_stage_umat/test_multi_stage_umat.py
Due: yapf

Path conditions:
  yapf: any of: \.py$
  mypy: any of: ^stem/ and \.py$
  flake8: any of: ^stem/
