Repository StemVibrations/STEM: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, mypy, flake8

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: yapf
        name: yapf
        language: python
        entry: yapf
        args: [-i]
        types: [python]
      - id: mypy
        name: mypy
        language: python
        entry: mypy
        files: "^stem/"
        args: [ --config-file, "pyproject.toml" ]
        types: [python]
      - id: flake8
        name: flake8
        language: python
        entry: flake8
        files: "^stem/"

changed tutorial text a bit
  docs/_static/embankment_extended.png
  docs/tutorials.rst
Due: none

add UVEC model support and update requirements
  requirements.txt
  requirements_dev.txt
  setup.cfg
  stem/IO/kratos_io.py
  stem/load.py
Due: yapf, mypy, flake8

add support for UVEC model in load parameters and update related tests
  benchmark_tests/test_train_uvec_3d/test_train_on_embankment_3d.py
  stem/IO/kratos_io.py
  stem/load.py
Due: yapf, mypy, flake8

added changelog
  CHANGELOG.md
Due: none

refactor UVEC model integration and update tutorial documentation
  benchmark_tests/test_train_uvec_3d/test_train_on_embankment_3d.py
  docs/tutorials.rst
  stem/load.py
Due: yapf, mypy, flake8

remove redundant UVEC model copying from test and update tutorial documentation
  benchmark_tests/test_train_uvec_3d/test_train_on_embankment_3d.py
  docs/tutorials.rst
Due: yapf

fixed test
  tests/test_model_part.py
Due: yapf

corrected text in tutorial 3
  docs/tutorials.rst
Due: none

add test for creating settings dictionary with UVEC package integration
  tests/test_kratos_solver_io.py
Due: yapf

added missing file
  tests/test_data/expected_solver_settings_with_uvec_package.json
Due: none

Apply suggestions from code review
  docs/tutorials.rst
Due: none

add test for writing all input files with UVEC integration in Stem class
  tests/test_stem.py
Due: yapf

Update tutorials.rst
  docs/tutorials.rst
Due: none

addition figure 2D CPT conditional simulation
  docs/_static/2D_conditional_random_field_vs.png
Due: none

Updated tutorial content for clarity and improved user guidance
  docs/tutorials.rst
Due: none

Refactor tutorial code block parsing to correctly identify start and end indices
  benchmark_tests/test_tutorial_docs.py
  docs/tutorials.rst
Due: yapf

Update stem/IO/kratos_io.py
  stem/IO/kratos_io.py
Due: yapf, mypy, flake8

Update stem/load.py
  stem/load.py
Due: yapf, mypy, flake8

refactor: fixed import of UVEC module in test files
  tests/test_kratos_solver_io.py
  tests/test_stem.py
Due: yapf

Fix regex pattern in tutorial code block parsing for improved accuracy
  benchmark_tests/test_tutorial_docs.py
Due: yapf

fix: remove unnecessary blank lines in __copy_uvec_to_location method
  stem/IO/kratos_io.py
Due: yapf, mypy, flake8

Fix tutorial code block parsing to handle leading whitespace correctly
  benchmark_tests/test_tutorial_docs.py
Due: yapf

Add files via upload
  docs/_static/3D_conditioned_random_field_young_modulus.PNG
Due: none

added tutorial 4, if a boundary model part already exists, the geometry of the model part is overwritten when generated, fixed bug in get bounding box
  docs/tutorial4.rst
  stem/model.py
Due: yapf, mypy, flake8

added missing figures
  docs/_static/double_extrusion.png
Due: none

added missing figures
  docs/_static/double_extrusion_with_track.png
Due: none

added ref to tutorial 4
  docs/index.rst
Due: none

added tutorial 4 to benchmark tests
  benchmark_tests/test_tutorial_docs.py
  docs/tutorial4.rst
Due: yapf

removed wrong figure
  docs/tutorial4.rst
Due: none

yapf
  benchmark_tests/test_tutorial_docs.py
  docs/tutorial4.rst
  stem/model.py
Due: yapf, mypy, flake8

added test for added function
  tests/test_model.py
Due: yapf

remove user option to specify dimension in rf generation when stem models have always 3 dimensions (x, y ,z)
  benchmark_tests/test_random_field_2d/test_random_field_2d.py
  benchmark_tests/test_random_field_3d/test_random_field_3d.py
  docs/tutorials.rst
  stem/field_generator.py
  tests/test_additional_processes.py
  tests/test_generator.py
  tests/test_kratos_additional_processes_io.py
  tests/test_kratos_io.py
  tests/test_model.py
  validation_case/main.py
  validation_case/main_with_irregularities.py
  validation_case/read_output,py.py
  validation_case/uvec_ten_dof_vehicle_2D/__init__.py
  validation_case/uvec_ten_dof_vehicle_2D/base_model.py
  validation_case/uvec_ten_dof_vehicle_2D/hertzian_contact.py
  validation_case/uvec_ten_dof_vehicle_2D/irregularities.py
  validation_case/uvec_ten_dof_vehicle_2D/newmark_solver.py
  validation_case/uvec_ten_dof_vehicle_2D/uvec.py
Due: yapf, mypy, flake8

adjust docstring
  stem/field_generator.py
Due: yapf, mypy, flake8

initial commit
  benchmark_tests/test_1d_wave_prop_drained_soil_gravity/output_/expected_output.json
  benchmark_tests/test_1d_wave_prop_drained_soil_gravity/test_1d_wave_prop_drained_soil_gravity.py
  benchmark_tests/test_beam_multistage/output_/expected_output_moving_load.json
  benchmark_tests/test_beam_multistage/output_/expected_output_moving_load_stage_2.json
  benchmark_tests/test_mass_on_spring_damper/output_/expected_output_mass.json
  benchmark_tests/test_multi_stage_dynamic_to_static/output_/json_output.json
  benchmark_tests/test_multi_stage_dynamic_to_static/output_/json_output_stage_2.json
  benchmark_tests/test_multi_stage_umat/output_/json_output.json
  benchmark_tests/test_multi_stage_umat/output_/json_output_stage_2.json
  stem/model.py
Due: yapf, mypy, flake8

adjustments for PR
  stem/model.py
  tests/test_data/expected_output_on_coordinates.json
  tests/test_stem.py
Due: yapf, mypy, flake8

Apply suggestions from code review
  stem/model.py
Due: yapf, mypy, flake8
