Repository StemVibrations/STEM: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, mypy, flake8

yapf:
  name: yapf
  language: python
  entry: yapf
  args:
  - -i

mypy:
  name: mypy
  language: python
  entry: mypy
  args:
  - --config-file
  - pyproject.toml

flake8:
  name: flake8
  language: python
  entry: flake8

first commit for checks
  benchmark_tests/test_1d_wave_prop_drained_soil/test_1d_wave_prop_drained_soil.py
  benchmark_tests/test_beam_multistage/test_beam_multistage.py
  benchmark_tests/test_mass_on_spring_damper/test_mass_on_spring_damper.py
  benchmark_tests/test_multi_stage_dynamic_to_static/test_multistage_dynamic_to_static.py
  benchmark_tests/test_multi_stage_umat/test_multi_stage_umat.py
  docs/tutorials.rst
  stem/IO/kratos_output_io.py
  stem/globals.py
  tests/test_data/expected_output_parameters.json
  tests/test_stem.py
Due: yapf, mypy, flake8

updated tutorial 3: WIP
  docs/tutorials.rst
Due: none

update UVEC dependency to specific uvec_package version
  pyproject.toml
  requirements.txt
  requirements_dev.txt
Due: none

update UVEC dependency to specific uvec_package version
  setup.cfg
Due: none

refactor: remove unused UVEC copy function and related test & added new uvec
  stem/IO/kratos_io.py
  stem/load.py
  tests/test_kratos_solver_io.py
  tests/test_stem.py
Due: yapf, mypy, flake8

chore: update dependencies to latest versions in requirements files
  requirements.txt
  requirements_dev.txt
  setup.cfg
Due: none

bug: fixed tox version and update related dependencies in requirements
  requirements_dev.txt
  setup.cfg
Due: none

fix: changed scipy version to 1.13.1 in requirements and setup configuration
  requirements.txt
  requirements_dev.txt
  setup.cfg
Due: none

chore: add pytest configuration for test paths in pyproject.toml
  pyproject.toml
Due: none

fix: update uvec path handling for cross-platform compatibility in test
  tests/test_kratos_solver_io.py
Due: yapf

fixed mypy issues with new package versions
  stem/geometry.py
  stem/model.py
Due: yapf, mypy, flake8

fix: yapf
  tests/test_kratos_solver_io.py
Due: yapf

adjustments for PR
  stem/field_generator.py
Due: yapf, mypy, flake8

adjustments for PR
  tests/test_generator.py
Due: yapf

fix: normalize uvec path handling for case insensitivity in tests
  tests/test_kratos_solver_io.py
Due: yapf

fix: update UVEC dependency to use the latest version without specific tag
  requirements.txt
  requirements_dev.txt
  setup.cfg
Due: none

removed validation case (no idea why it was pushed to the branch)
  validation_case/main.py
  validation_case/main_with_irregularities.py
  validation_case/read_output,py.py
  validation_case/uvec_ten_dof_vehicle_2D/__init__.py
  validation_case/uvec_ten_dof_vehicle_2D/base_model.py
  validation_case/uvec_ten_dof_vehicle_2D/hertzian_contact.py
  validation_case/uvec_ten_dof_vehicle_2D/irregularities.py
  validation_case/uvec_ten_dof_vehicle_2D/newmark_solver.py
  validation_case/uvec_ten_dof_vehicle_2D/uvec.py
Due: yapf

newton_raphson_linear_elastic_with_uvec is now used with uvec
  stem/IO/kratos_solver_io.py
Due: yapf, mypy, flake8

added flag to calculate internal force abs boundary
  stem/IO/kratos_boundaries_io.py
  stem/IO/kratos_io.py
  stem/IO/kratos_solver_io.py
  stem/solver.py
Due: yapf, mypy, flake8

removed regeneration of mesh in added stage
  stem/stem.py
  tests/test_stem.py
Due: yapf, mypy, flake8

updated requirements
  requirements.txt
  requirements_dev.txt
  setup.cfg
Due: none

updated test results dynamic to static
  benchmark_tests/test_multi_stage_dynamic_to_static/output_/json_output_stage_2.json
Due: none

added checks in existing tests
  tests/test_kratos_io.py
  tests/test_kratos_solver_io.py
Due: yapf

added check if acceleration should be initialized
  stem/IO/kratos_solver_io.py
  stem/solver.py
  stem/stem.py
  tests/test_stem.py
Due: yapf, mypy, flake8

pre-commit
  stem/stem.py
  tests/test_stem.py
Due: yapf, mypy, flake8

readded unloading test
  benchmark_tests/test_1d_wave_prop_drained_soil_unloading/output_/output_vtk_full_model/PorousDomain_0_10.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_unloading/output_/output_vtk_full_model/PorousDomain_0_100.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_unloading/output_/output_vtk_full_model/PorousDomain_0_110.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_unloading/output_/output_vtk_full_model/PorousDomain_0_120.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_unloading/output_/output_vtk_full_model/PorousDomain_0_130.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_unloading/output_/output_vtk_full_model/PorousDomain_0_140.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_unloading/output_/output_vtk_full_model/PorousDomain_0_150.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_unloading/output_/output_vtk_full_model/PorousDomain_0_160.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_unloading/output_/output_vtk_full_model/PorousDomain_0_170.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_unloading/output_/output_vtk_full_model/PorousDomain_0_180.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_unloading/output_/output_vtk_full_model/PorousDomain_0_190.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_unloading/output_/output_vtk_full_model/PorousDomain_0_20.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_unloading/output_/output_vtk_full_model/PorousDomain_0_200.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_unloading/output_/output_vtk_full_model/PorousDomain_0_30.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_unloading/output_/output_vtk_full_model/PorousDomain_0_40.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_unloading/output_/output_vtk_full_model/PorousDomain_0_50.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_unloading/output_/output_vtk_full_model/PorousDomain_0_60.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_unloading/output_/output_vtk_full_model/PorousDomain_0_70.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_unloading/output_/output_vtk_full_model/PorousDomain_0_80.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_unloading/output_/output_vtk_full_model/PorousDomain_0_90.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_unloading/test_1d_wave_prop_drained_soil_unloading.py
Due: yapf

solved bug in print statement
  stem/stem.py
Due: yapf, mypy, flake8

updated umat test
  benchmark_tests/test_1d_wave_prop_drained_soil_umat/test_1d_wave_prop_drained_soil_umat.py
  benchmark_tests/utils.py
Due: yapf

fixed test
  benchmark_tests/test_1d_wave_prop_drained_soil_umat/test_1d_wave_prop_drained_soil_umat.py
  benchmark_tests/utils.py
Due: yapf

added checks to check for warnings in tests
  stem/stem.py
  tests/test_stem.py
Due: yapf, mypy, flake8

resolved comments
  stem/IO/kratos_io.py
  stem/stem.py
Due: yapf, mypy, flake8

resolved mypy
  stem/solver.py
  stem/stem.py
Due: yapf, mypy, flake8

corrected references to stemkratos
  requirements.txt
  requirements_dev.txt
  setup.cfg
Due: none

random field properties are now a list
  stem/IO/kratos_additional_processes_io.py
  stem/IO/kratos_io.py
  stem/additional_processes.py
  stem/field_generator.py
  stem/model.py
  tests/test_additional_processes.py
  tests/test_generator.py
  tests/test_kratos_additional_processes_io.py
  tests/test_kratos_io.py
  tests/test_model.py
Due: yapf, mypy, flake8

solved benchmark tests
  benchmark_tests/test_random_field_2d/test_random_field_2d.py
  benchmark_tests/test_random_field_3d/test_random_field_3d.py
  docs/tutorials.rst
Due: yapf

added tests for validation
  stem/additional_processes.py
  tests/test_additional_processes.py
  tests/test_kratos_additional_processes_io.py
  tests/test_kratos_io.py
Due: yapf, mypy, flake8

tutorials now use linear Newton Raphson
  docs/tutorial4.rst
  docs/tutorials.rst
Due: none

Add tutorial on Conditional Random Fields and update dependencies
  docs/_static/CPT000000217393.png
  docs/_static/CPT000000217402.png
  docs/_static/CPT000000217406.png
  docs/_static/CPT000000217408.png
  docs/_static/CPT000000217409.png
  docs/_static/CPT_coordinates.png
  docs/_static/cpts_location.png
  docs/index.rst
  docs/tutorial5.rst
  requirements.txt
  requirements_dev.txt
  setup.cfg
  tests/test_data/CPTs/CPT000000217393_IMBRO.gef
  tests/test_data/CPTs/CPT000000217402_IMBRO.gef
  tests/test_data/CPTs/CPT000000217406_IMBRO.gef
  tests/test_data/CPTs/CPT000000217408_IMBRO.gef
  tests/test_data/CPTs/CPT000000217409_IMBRO.gef
Due: none

updated tutorial 5
  docs/tutorial5.rst
Due: none

added cpt field generator
  benchmark_tests/test_elastic_field_from_cpt/cpts/CPT000000217393.xml
  benchmark_tests/test_elastic_field_from_cpt/cpts/CPT000000217402.xml
  benchmark_tests/test_elastic_field_from_cpt/cpts/CPT000000217406.xml
  benchmark_tests/test_elastic_field_from_cpt/cpts/CPT000000217408.xml
  benchmark_tests/test_elastic_field_from_cpt/cpts/CPT000000217409.xml
  benchmark_tests/test_elastic_field_from_cpt/test_elastic_field_from_cpt.py
  stem/field_generator.py
  stem/model.py
Due: yapf, mypy, flake8

Path conditions:
  yapf: any of: \.py$
  mypy: any of: ^stem/ and \.py$
  flake8: any of: ^stem/
