Repository StemVibrations/STEM: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, mypy, flake8

yapf:
  name: yapf
  language: python
  entry: yapf
  args:
  - -i

mypy:
  name: mypy
  language: python
  entry: mypy
  args:
  - --config-file
  - pyproject.toml

flake8:
  name: flake8
  language: python
  entry: flake8

Added generate model part functions fixed mypy
  stem/model.py
Due: yapf, mypy, flake8

Added unit tests for the split up functions
  tests/test_model.py
Due: yapf

Added unit tests to check raise errors
  tests/test_model.py
Due: yapf

solved reverse order bug
  stem/globals.py
Due: yapf, mypy, flake8

Added offset for correct volume sleeper placement
  benchmark_tests/test_volume_sleepers/test_volume_sleepers.py
  stem/model.py
  stem/utils.py
  tests/test_model.py
Due: yapf, mypy, flake8

Corrected tests and added docstrings
  tests/test_utils.py
Due: yapf

yapf and flake8 corrected
  stem/model.py
  stem/utils.py
  tests/test_model.py
Due: yapf, mypy, flake8

added extra test with soil volume
  tests/test_model.py
Due: yapf

Updated yapf
  benchmark_tests/test_volume_sleepers/test_volume_sleepers.py
Due: yapf

added support quadratic elements lysmer
  benchmark_tests/test_lysmer_boundary_column3d_tetra10n/test_lysmer_boundary_column3d_tetra.py
  stem/boundary.py
  stem/model.py
Due: yapf, mypy, flake8

typing
  stem/model.py
Due: yapf, mypy, flake8

extrusions are generalized
  stem/model.py
Due: yapf, mypy, flake8

Added documentation
  docs/_static/Sleepers.png
  docs/tutorial3.rst
Due: none

Sleepers should be one group
  stem/model.py
  tests/test_model.py
Due: yapf, mypy, flake8

Corrected mypy issues
  stem/model.py
  tests/test_model.py
Due: yapf, mypy, flake8

Small documentation issue
  docs/tutorial3.rst
Due: none

fixed tests
  stem/model.py
  tests/test_globals.py
  tests/test_model_part.py
  tests/test_utils.py
Due: yapf, mypy, flake8

add LICENSE and NOTICE files; update README with license information
  LICENSE
  NOTICE
  README.md
Due: none

corrected splitting 3n lines in 2n lines
  stem/globals.py
  stem/mesh.py
  stem/model.py
Due: yapf, mypy, flake8

Apply suggestions from code review
  docs/tutorial3.rst
Due: none

Revert deletion of setup.py
  setup.py
Due: yapf

Formating changes because of reviewers comments
  stem/model.py
  tests/test_model.py
Due: yapf, mypy, flake8

Corrected function so that it works on x axis and changed tests
  stem/globals.py
  stem/model.py
  stem/utils.py
  tests/test_model.py
  tests/test_utils.py
Due: yapf, mypy, flake8

Merged with master
  tests/test_model.py
Due: yapf

Formatting corrected
  stem/model.py
  stem/utils.py
Due: yapf, mypy, flake8

Formatting corrected
  tests/test_model.py
Due: yapf

added quad and hexa tests
  benchmark_tests/test_lysmer_boundary_column2d_quad/test_lysmer_boundary_column2d_quad.py
  benchmark_tests/test_lysmer_boundary_column3d_hexa/test_lysmer_boundary_column3d_hexa.py
Due: yapf

update UVEC dependency to version 1.1; add benchmark test for 3D soil model with track
  benchmark_tests/test_train_uvec_soil_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_uvec_soil_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_150.vtk
  benchmark_tests/test_train_uvec_soil_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_uvec_soil_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_250.vtk
  benchmark_tests/test_train_uvec_soil_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_300.vtk
  benchmark_tests/test_train_uvec_soil_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_350.vtk
  benchmark_tests/test_train_uvec_soil_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_400.vtk
  benchmark_tests/test_train_uvec_soil_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_450.vtk
  benchmark_tests/test_train_uvec_soil_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_train_uvec_soil_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_500.vtk
  benchmark_tests/test_train_uvec_soil_3d/test_train_uvec_soil_3d.py
  setup.cfg
Due: yapf

added windows files for test
  benchmark_tests/test_train_uvec_soil_3d/output_windows/json_output.json
  benchmark_tests/test_train_uvec_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_uvec_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_150.vtk
  benchmark_tests/test_train_uvec_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_uvec_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_250.vtk
  benchmark_tests/test_train_uvec_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_300.vtk
  benchmark_tests/test_train_uvec_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_350.vtk
  benchmark_tests/test_train_uvec_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_400.vtk
  benchmark_tests/test_train_uvec_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_450.vtk
  benchmark_tests/test_train_uvec_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_train_uvec_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_500.vtk
  benchmark_tests/test_train_uvec_soil_3d/test_train_uvec_soil_3d.py
Due: yapf

refactor: clean up imports in benchmark test for 3D soil model
  benchmark_tests/test_train_uvec_soil_3d/test_train_uvec_soil_3d.py
Due: yapf

update UVEC dependency to version 1.1 in requirements files
  requirements.txt
  requirements_dev.txt
Due: none

fixed yapf style
  benchmark_tests/test_train_uvec_soil_3d/test_train_uvec_soil_3d.py
Due: yapf

added json file
  benchmark_tests/test_train_uvec_soil_3d_joint/output_linux/json_output.json
Due: none

add missign file for testing
  benchmark_tests/test_train_uvec_soil_3d/output_linux/json_output.json
Due: none

add tutorial 5 references in index and tutorial4
  docs/index.rst
  docs/tutorial4.rst
  docs/tutorial5.rst
Due: none

add test for UVEC on embankment with absorbing boundaries WIP
  benchmark_tests/test_train_uvec_soil_3d_joint/test_train_uvec_soil_3d_joint.py
Due: yapf

Path conditions:
  yapf: any of: \.py$
  mypy: any of: ^stem/ and \.py$
  flake8: any of: ^stem/
