Repository StemVibrations/STEM: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, mypy, flake8

yapf:
  name: yapf
  language: python
  entry: yapf
  args:
  - -i

mypy:
  name: mypy
  language: python
  entry: mypy
  args:
  - --config-file
  - pyproject.toml

flake8:
  name: flake8
  language: python
  entry: flake8

updated test results lysmer3d with 2 soils and hanging sleeper
  benchmark_tests/test_lysmer_boundary_column3d_tetra_with_two_soils/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra_with_two_soils/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_lysmer_boundary_column3d_tetra_with_two_soils/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_40.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_60.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_70.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_80.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_90.vtk
Due: none

updated test results moving load on track on soil
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_40.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_60.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_70.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_80.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_90.vtk
Due: none

Sonderingen
  Ground_layers_Holten/GD231254-SW-ALL.py
  Ground_layers_Holten/MAP_location_sonderingen.py
  Ground_layers_Holten/Notes_ground
  Ground_layers_Holten/plot_grondlagen.png
  Holten_rm.py
Due: yapf

Sonderingen
  Ground_layers_Holten/GD231254-SW-ALL.py
  Ground_layers_Holten/Notes_ground
  Ground_layers_Holten/plot_grondlagen.png
  Holten_rm.py
Due: yapf

reverted updated moving load on track on soil
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_40.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_60.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_70.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_80.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_90.vtk
Due: none

reverted moving load on track on soil results
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_40.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_60.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_70.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_80.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_90.vtk
Due: none

corrected constraint rail
  stem/model.py
Due: yapf, mypy, flake8

updated results uvec on soil 2d
  benchmark_tests/test_uvec_on_soil_2d/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_uvec_on_soil_2d/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_uvec_on_soil_2d/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_uvec_on_soil_2d/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_uvec_on_soil_2d/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_40.vtk
  benchmark_tests/test_uvec_on_soil_2d/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_uvec_on_soil_2d/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_60.vtk
  benchmark_tests/test_uvec_on_soil_2d/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_70.vtk
  benchmark_tests/test_uvec_on_soil_2d/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_80.vtk
  benchmark_tests/test_uvec_on_soil_2d/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_90.vtk
  stem/model.py
Due: yapf, mypy, flake8

updated results and corrected test uvec with irr multistage
  benchmark_tests/test_train_track_soil_uvec_3d_irr_multistage/output_windows/json_output.json
  benchmark_tests/test_train_track_soil_uvec_3d_irr_multistage/output_windows/json_output_stage_2.json
  benchmark_tests/test_train_track_soil_uvec_3d_irr_multistage/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_irr_multistage/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_150.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_irr_multistage/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_irr_multistage/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_250.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_irr_multistage/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
Due: none

corrected test uvec with irr multistage
  benchmark_tests/test_train_track_soil_uvec_3d_irr_multistage/test_train_track_soil_uvec_3d_irr_multistage.py
Due: yapf

corrected test multistage block
  benchmark_tests/test_multi_stage/test_multistage_block.py
Due: yapf

corrected test joint multistage normal
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_normal_windows/json_output.json
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_normal_windows/json_output_stage_2.json
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_normal_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_normal_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_150.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_normal_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_normal_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_250.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_normal_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/test_train_track_soil_uvec_3d_joint_multistage.py
Due: yapf

corrected test results joint multistage
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_joint_windows/json_output.json
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_joint_windows/json_output_stage_2.json
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_150.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_250.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_joint_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_normal_windows/json_output.json
  benchmark_tests/test_train_track_soil_uvec_3d_joint_multistage/output_normal_windows/json_output_stage_2.json
Due: none

corrected moving load on extended track and changed solver for speed up and removed some nodal results
  benchmark_tests/test_extended_beam/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_extended_beam/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_extended_beam/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_110.vtk
  benchmark_tests/test_extended_beam/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_120.vtk
  benchmark_tests/test_extended_beam/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_130.vtk
  benchmark_tests/test_extended_beam/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_140.vtk
  benchmark_tests/test_extended_beam/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_150.vtk
  benchmark_tests/test_extended_beam/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_160.vtk
  benchmark_tests/test_extended_beam/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_170.vtk
  benchmark_tests/test_extended_beam/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_180.vtk
  benchmark_tests/test_extended_beam/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_190.vtk
  benchmark_tests/test_extended_beam/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_extended_beam/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_extended_beam/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_extended_beam/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_40.vtk
  benchmark_tests/test_extended_beam/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_extended_beam/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_60.vtk
  benchmark_tests/test_extended_beam/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_70.vtk
  benchmark_tests/test_extended_beam/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_80.vtk
  benchmark_tests/test_extended_beam/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_90.vtk
  benchmark_tests/test_extended_beam/test_moving_load_on_extended_track.py
Due: yapf

removed total displacement from result
  benchmark_tests/test_moving_load_on_3_groups_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_110.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_120.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_130.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_140.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_150.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_160.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_170.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_180.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_190.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_40.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_60.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_70.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_80.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_90.vtk
  benchmark_tests/test_moving_load_on_3_groups_3d/test_moving_load_on_3_groups_3d.py
Due: yapf

removed total displacement from some result files
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_40.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_60.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_70.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_80.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_90.vtk
  benchmark_tests/test_multi_stage_dynamic_to_static/output_/json_output_stage_2.json
  benchmark_tests/test_train_uvec_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_uvec_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_150.vtk
  benchmark_tests/test_train_uvec_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_uvec_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_uvec_on_soil_2d/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_uvec_on_soil_2d/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_uvec_on_soil_2d/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_uvec_on_soil_2d/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_uvec_on_soil_2d/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_40.vtk
  benchmark_tests/test_uvec_on_soil_2d/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_uvec_on_soil_2d/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_60.vtk
  benchmark_tests/test_uvec_on_soil_2d/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_70.vtk
  benchmark_tests/test_uvec_on_soil_2d/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_80.vtk
  benchmark_tests/test_uvec_on_soil_2d/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_90.vtk
Due: none

removed total displacement from some result files
  benchmark_tests/test_uvec_on_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_uvec_on_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_uvec_on_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_uvec_on_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_uvec_on_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_40.vtk
  benchmark_tests/test_uvec_on_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_uvec_on_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_60.vtk
  benchmark_tests/test_uvec_on_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_70.vtk
  benchmark_tests/test_uvec_on_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_80.vtk
  benchmark_tests/test_uvec_on_soil_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_90.vtk
Due: none

Corrected benckmark with condition and defined conditions for interface
  benchmark_tests/test_interfaces/test_interface.py
  stem/model.py
Due: yapf, mypy, flake8

Added tests that check the body model part
  benchmark_tests/test_interfaces/test_interface.py
  stem/model.py
  tests/test_model.py
Due: yapf, mypy, flake8

Add benchmark test for 1D wave propagation in drained soil in 3D added comparison with analytical solution
  benchmark_tests/analytical_solutions/analytical_wave_prop.py
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_/output_vtk_full_model/PorousDomain_0_10.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_/output_vtk_full_model/PorousDomain_0_100.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_/output_vtk_full_model/PorousDomain_0_110.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_/output_vtk_full_model/PorousDomain_0_120.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_/output_vtk_full_model/PorousDomain_0_130.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_/output_vtk_full_model/PorousDomain_0_140.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_/output_vtk_full_model/PorousDomain_0_150.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_/output_vtk_full_model/PorousDomain_0_160.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_/output_vtk_full_model/PorousDomain_0_20.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_/output_vtk_full_model/PorousDomain_0_30.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_/output_vtk_full_model/PorousDomain_0_40.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_/output_vtk_full_model/PorousDomain_0_50.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_/output_vtk_full_model/PorousDomain_0_60.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_/output_vtk_full_model/PorousDomain_0_70.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_/output_vtk_full_model/PorousDomain_0_80.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_/output_vtk_full_model/PorousDomain_0_90.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/test_1d_wave_prop_drained_soil_3d.py
Due: yapf

fixed style
  benchmark_tests/analytical_solutions/analytical_wave_prop.py
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/test_1d_wave_prop_drained_soil_3d.py
Due: yapf

Fix output directory handling in test for platform compatibility
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_linux/output_vtk_full_model/PorousDomain_0_10.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_linux/output_vtk_full_model/PorousDomain_0_100.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_linux/output_vtk_full_model/PorousDomain_0_110.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_linux/output_vtk_full_model/PorousDomain_0_120.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_linux/output_vtk_full_model/PorousDomain_0_130.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_linux/output_vtk_full_model/PorousDomain_0_140.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_linux/output_vtk_full_model/PorousDomain_0_150.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_linux/output_vtk_full_model/PorousDomain_0_160.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_linux/output_vtk_full_model/PorousDomain_0_20.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_linux/output_vtk_full_model/PorousDomain_0_30.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_linux/output_vtk_full_model/PorousDomain_0_40.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_linux/output_vtk_full_model/PorousDomain_0_50.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_linux/output_vtk_full_model/PorousDomain_0_60.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_linux/output_vtk_full_model/PorousDomain_0_70.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_linux/output_vtk_full_model/PorousDomain_0_80.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_linux/output_vtk_full_model/PorousDomain_0_90.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/test_1d_wave_prop_drained_soil_3d.py
Due: yapf

added tests for windows
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_windows/output_vtk_full_model/PorousDomain_0_10.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_windows/output_vtk_full_model/PorousDomain_0_100.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_windows/output_vtk_full_model/PorousDomain_0_110.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_windows/output_vtk_full_model/PorousDomain_0_120.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_windows/output_vtk_full_model/PorousDomain_0_130.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_windows/output_vtk_full_model/PorousDomain_0_140.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_windows/output_vtk_full_model/PorousDomain_0_150.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_windows/output_vtk_full_model/PorousDomain_0_160.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_windows/output_vtk_full_model/PorousDomain_0_20.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_windows/output_vtk_full_model/PorousDomain_0_30.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_windows/output_vtk_full_model/PorousDomain_0_40.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_windows/output_vtk_full_model/PorousDomain_0_50.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_windows/output_vtk_full_model/PorousDomain_0_60.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_windows/output_vtk_full_model/PorousDomain_0_70.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_windows/output_vtk_full_model/PorousDomain_0_80.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/output_windows/output_vtk_full_model/PorousDomain_0_90.vtk
Due: none

removed total displacement from some test files, fixed error in tutorial 5
  benchmark_tests/test_moving_load_on_embankment_3d/test_moving_load_on_embankment_3d.py
  benchmark_tests/test_moving_load_on_soil_2d/test_moving_load_on_soil_2d.py
  benchmark_tests/test_moving_load_on_soil_3d/test_moving_load_on_soil_3d.py
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/test_moving_load_on_track_hanging_sleepers.py
  benchmark_tests/test_moving_load_on_track_on_soil/test_moving_load_on_track_on_soil.py
  docs/tutorial5.rst
Due: yapf

Refactor import statement for matplotlib in wave propagation test
  .pre-commit-config.yaml
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/test_1d_wave_prop_drained_soil_3d.py
Due: yapf

Update citations in documentation for wave propagation and vehicle classes
  benchmark_tests/analytical_solutions/analytical_wave_prop.py
  benchmark_tests/analytical_solutions/moving_vehicle.py
  benchmark_tests/analytical_solutions/pekeris.py
  benchmark_tests/analytical_solutions/strip_load.py
  benchmark_tests/test_1d_wave_prop_drained_soil_3D/test_1d_wave_prop_drained_soil_3d.py
Due: yapf

Update references in bibliography for soil dynamics and structural dynamics
  docs/refs.bib
Due: none

Fix author formatting in structural dynamics reference
  docs/refs.bib
Due: none

Update stem/model.py
  stem/model.py
Due: yapf, mypy, flake8

Changed according to reviewer's comments
  benchmark_tests/test_volume_sleepers/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_1.vtk
  benchmark_tests/test_volume_sleepers/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_1.vtk
  benchmark_tests/test_volume_sleepers/test_volume_sleepers.py
  stem/globals.py
  stem/model.py
  stem/utils.py
Due: yapf, mypy, flake8

Updated linux file
  benchmark_tests/test_volume_sleepers/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_1.vtk
Due: none

corrected utils
  benchmark_tests/utils.py
Due: yapf

Moved function
  tests/test_model.py
Due: yapf

changed to float
  benchmark_tests/test_volume_sleepers/test_volume_sleepers.py
Due: yapf

Modified file for formatting
  benchmark_tests/test_volume_sleepers/test_volume_sleepers.py
Due: yapf

changed the output_interval so that we don't get float errors
  benchmark_tests/test_volume_sleepers/test_volume_sleepers.py
Due: yapf

changed test to avoid floating point problem
  benchmark_tests/test_volume_sleepers/inputs_kratos_full_qs/output/output_vtk_porous_computational_model_part/porous_computational_model_part_0_1.0000000.vtk
  benchmark_tests/test_volume_sleepers/test_volume_sleepers.py
Due: yapf

added new benchmark file
  benchmark_tests/test_volume_sleepers/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_1.0000000.vtk
Due: none

Path conditions:
  yapf: any of: \.py$
  mypy: any of: ^stem/ and \.py$
  flake8: any of: ^stem/
