Repository StemVibrations/STEM: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, mypy, flake8

yapf:
  name: yapf
  language: python
  entry: yapf
  args:
  - -i

mypy:
  name: mypy
  language: python
  entry: mypy
  args:
  - --config-file
  - pyproject.toml

flake8:
  name: flake8
  language: python
  entry: flake8

added file to check abs boundaries
  benchmark_tests/test_beam_multistage/test_beam_multistage.py
  tests/test_mesh.py
  tests/test_stem.py
Due: yapf

corrected reference to stemkratos repo
  requirements.txt
  requirements_dev.txt
  setup.cfg
Due: none

resolved comments
  benchmark_tests/test_multi_stage/test_multistage_block.py
  benchmark_tests/test_sdof_uvec_beam/uvec_ten_dof_vehicle_2D/uvec.py
  stem/output.py
  stem/stem.py
Due: yapf, mypy, flake8

Rename Lamb.py to Pekeris.py and update class name and references
  benchmark_tests/analytical_solutions/Pekeris.py
Due: yapf

Add cantilever_hinge analytical solution
  benchmark_tests/analytical_solutions/cantilever_hinge.py
Due: yapf

Add matplotlib import to cantilever_hinge.py
  benchmark_tests/analytical_solutions/cantilever_hinge.py
Due: yapf

Refactor Pekeris.py with types
  benchmark_tests/analytical_solutions/Pekeris.py
Due: yapf

Refactor cantilever_hinge function with type hints and SI unit comments
  benchmark_tests/analytical_solutions/cantilever_hinge.py
Due: yapf

Refactor Pekeris.py with types and mypy
  benchmark_tests/analytical_solutions/Pekeris.py
Due: yapf

yapf
  benchmark_tests/analytical_solutions/Pekeris.py
  benchmark_tests/analytical_solutions/cantilever_hinge.py
Due: yapf

Update spring constant unit in cantilever_hinge.py
  benchmark_tests/analytical_solutions/cantilever_hinge.py
Due: yapf

fixed bug
  benchmark_tests/analytical_solutions/cantilever_hinge.py
Due: yapf

Fix initialization of empty arrays in Pekeris.py and cantilever_hinge.py
  benchmark_tests/analytical_solutions/Pekeris.py
  benchmark_tests/analytical_solutions/cantilever_hinge.py
Due: yapf

Add type hint for displacement return value in cantilever_hinge.py
  benchmark_tests/analytical_solutions/cantilever_hinge.py
Due: yapf

cleanup
  benchmark_tests/analytical_solutions/cantilever_hinge.py
  benchmark_tests/analytical_solutions/pekeris.py
Due: yapf

added box function tiny expr
  stem/utils.py
  tests/test_utils.py
Due: yapf, mypy, flake8

corrected docstring
  stem/utils.py
Due: yapf, mypy, flake8

added method to move geometry entities from one mp to another
  stem/model.py
  stem/model_part.py
  tests/test_model.py
Due: yapf, mypy, flake8

trial for mypy
  stem/model.py
Due: yapf, mypy, flake8

added type ignores
  stem/model.py
Due: yapf, mypy, flake8

reverted toml
  pyproject.toml
Due: none

added test for splitting process model part and expected errors
  stem/model.py
  tests/test_model.py
Due: yapf, mypy, flake8

ran pre-commit
  tests/test_model.py
Due: yapf

added benchmark for hanging sleepers
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_40.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_60.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_70.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_80.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_90.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/test_moving_load_on_track_hanging_sleepers.py
Due: yapf

ran pre-commit
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/test_moving_load_on_track_hanging_sleepers.py
Due: yapf

windows and linux test are now equal in hanging sleeper benchmark
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_40.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_60.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_70.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_80.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_90.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/test_moving_load_on_track_hanging_sleepers.py
Due: yapf

removed unused imports
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/test_moving_load_on_track_hanging_sleepers.py
Due: yapf

cleanup
  stem/model.py
Due: yapf, mypy, flake8

added function to plot lines in plot_utils
  stem/plot_utils.py
Due: yapf, mypy, flake8

added functions to get ordered surface points centroid line and surface centre of mass surface area of surface
  stem/geometry.py
  tests/test_geometry.py
Due: yapf, mypy, flake8

corrected calculate area of surface and added test for calculating centre of mass volume
  stem/geometry.py
  tests/test_geometry.py
Due: yapf, mypy, flake8

clean up model.py
  stem/IO/kratos_io.py
  stem/mesh.py
  stem/model.py
  stem/model_part.py
  stem/utils.py
  tests/test_model.py
Due: yapf, mypy, flake8

moved tests
  stem/model.py
  tests/test_mesh.py
  tests/test_model.py
  tests/test_utils.py
Due: yapf, mypy, flake8

simplified __find_matching_body_elements_for_process_model_part
  stem/mesh.py
  stem/model.py
Due: yapf, mypy, flake8

mypy
  stem/mesh.py
  stem/model.py
Due: yapf, mypy, flake8

bugfix
  stem/model.py
Due: yapf, mypy, flake8

converted lists to sets for faster lookup
  stem/model.py
  tests/test_model.py
Due: yapf, mypy, flake8

simplified check lines geometry are path
  stem/utils.py
Due: yapf, mypy, flake8

mypy
  stem/utils.py
Due: yapf, mypy, flake8

added material specific rayleigh parameters
  stem/IO/kratos_material_io.py
  stem/soil_material.py
  stem/structural_material.py
  tests/test_data/expected_material_parameters.json
  tests/test_data/expected_structural_material_parameters.json
  tests/test_kratos_material_io.py
Due: yapf, mypy, flake8

Path conditions:
  yapf: any of: \.py$
  mypy: any of: ^stem/ and \.py$
  flake8: any of: ^stem/
