Repository StemVibrations/STEM: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, mypy, flake8

yapf:
  name: yapf
  language: python
  entry: yapf
  args:
  - -i

mypy:
  name: mypy
  language: python
  entry: mypy
  args:
  - --config-file
  - pyproject.toml

flake8:
  name: flake8
  language: python
  entry: flake8

Refactor test_random_field_2d.py and add NewtonRaphsonStrategy
  benchmark_tests/test_random_field_2d/test_random_field_2d.py
Due: yapf

Refactor test_random_field_3d.py and add NewtonRaphsonStrategy
  benchmark_tests/test_random_field_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_1.vtk
  benchmark_tests/test_random_field_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_1.vtk
  benchmark_tests/test_random_field_3d/test_random_field_3d.py
Due: yapf

Added a tutorial for the soil equivalent part
  docs/_static/embankment_extented.png
  docs/_static/soil_equivalent_concept.png
  docs/tutorials.rst
Due: none

Add benchmark test for moving load on beam on soil in 3D
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/test_moving_load_on_beam_on_soil_3D.py
Due: yapf

Update extrusion length and mesh size in 3D moving load benchmark test
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/test_moving_load_on_beam_on_soil_3D.py
Due: yapf

added test to check 1d column with gravity load
  benchmark_tests/test_1d_wave_prop_drained_soil_gravity/test_1d_wave_prop_drained_soil_gravity.py
Due: yapf

Add NewtonRaphsonStrategy to 2D Uvec load benchmark test
  benchmark_tests/test_uvec_on_soil_2d/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_uvec_on_soil_2d/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_uvec_on_soil_2d/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_uvec_on_soil_2d/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_uvec_on_soil_2d/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_40.vtk
  benchmark_tests/test_uvec_on_soil_2d/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_uvec_on_soil_2d/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_60.vtk
  benchmark_tests/test_uvec_on_soil_2d/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_70.vtk
  benchmark_tests/test_uvec_on_soil_2d/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_80.vtk
  benchmark_tests/test_uvec_on_soil_2d/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_90.vtk
  benchmark_tests/test_uvec_on_soil_2d/test_uvec_on_soil_2d.py
Due: yapf

updated test_train_uvec_3d files
  benchmark_tests/test_train_uvec_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_uvec_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_150.vtk
  benchmark_tests/test_train_uvec_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_uvec_3d/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
Due: none

updated test_moving_load_on_extended_track files
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_110.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_120.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_130.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_140.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_150.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_160.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_170.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_180.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_190.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_40.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_60.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_70.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_80.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_90.vtk
Due: none

style
  benchmark_tests/test_1d_wave_prop_drained_soil_gravity/test_1d_wave_prop_drained_soil_gravity.py
  benchmark_tests/test_moving_load_on_3_groups_3d/test_moving_load_on_3_groups_3d.py
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/test_moving_load_on_beam_on_soil_3D.py
  benchmark_tests/test_moving_load_on_embankment_3d/test_moving_load_on_embankment_3d.py
  benchmark_tests/test_multi_stage_dynamic_to_static/test_multistage_dynamic_to_static.py
  benchmark_tests/test_random_field_3d/test_random_field_3d.py
  stem/model.py
Due: yapf, mypy, flake8

corrected gravity test
  benchmark_tests/test_1d_wave_prop_drained_soil_gravity/output_/expected_output.json
  benchmark_tests/test_1d_wave_prop_drained_soil_gravity/test_1d_wave_prop_drained_soil_gravity.py
Due: yapf

added table interpolation function and added test for unloading
  benchmark_tests/test_1d_wave_prop_drained_soil_unloading/test_1d_wave_prop_drained_soil_unloading.py
  stem/IO/io_utils.py
  stem/IO/kratos_boundaries_io.py
  stem/IO/kratos_io.py
  stem/IO/kratos_loads_io.py
  stem/table.py
  tests/test_kratos_io.py
  tests/test_kratos_loads_io.py
Due: yapf, mypy, flake8

added test for drained multistage
  benchmark_tests/test_1d_wave_prop_drained_soil/output_/output_vtk_full_model/PorousDomain_0_10.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil/output_/output_vtk_full_model/PorousDomain_0_100.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil/output_/output_vtk_full_model/PorousDomain_0_110.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil/output_/output_vtk_full_model/PorousDomain_0_120.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil/output_/output_vtk_full_model/PorousDomain_0_130.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil/output_/output_vtk_full_model/PorousDomain_0_140.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil/output_/output_vtk_full_model/PorousDomain_0_150.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil/output_/output_vtk_full_model/PorousDomain_0_160.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil/output_/output_vtk_full_model/PorousDomain_0_170.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil/output_/output_vtk_full_model/PorousDomain_0_180.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil/output_/output_vtk_full_model/PorousDomain_0_190.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil/output_/output_vtk_full_model/PorousDomain_0_200.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil/output_/output_vtk_full_model/PorousDomain_0_30.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil/output_/output_vtk_full_model/PorousDomain_0_40.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil/output_/output_vtk_full_model/PorousDomain_0_50.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil/output_/output_vtk_full_model/PorousDomain_0_60.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil/output_/output_vtk_full_model/PorousDomain_0_70.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil/output_/output_vtk_full_model/PorousDomain_0_80.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil/output_/output_vtk_full_model/PorousDomain_0_90.vtk
  benchmark_tests/test_1d_wave_prop_drained_soil_multi_stage/test_1d_wave_prop_drained_soil_multi_stage.py
  benchmark_tests/test_1d_wave_prop_drained_soil_unloading/test_1d_wave_prop_drained_soil_unloading.py
Due: yapf

precommit
  benchmark_tests/test_1d_wave_prop_drained_soil/test_1d_wave_prop_drained_soil.py
  benchmark_tests/test_1d_wave_prop_drained_soil_gravity/test_1d_wave_prop_drained_soil_gravity.py
  benchmark_tests/test_1d_wave_prop_drained_soil_multi_stage/test_1d_wave_prop_drained_soil_multi_stage.py
  benchmark_tests/test_1d_wave_prop_drained_soil_unloading/test_1d_wave_prop_drained_soil_unloading.py
Due: yapf

corrected skip decorator
  benchmark_tests/test_1d_wave_prop_drained_soil_unloading/test_1d_wave_prop_drained_soil_unloading.py
Due: yapf

added test for table interpolation
  tests/test_table.py
Due: yapf

altered test for load_io
  tests/test_data/expected_load_parameters_with_table.json
  tests/test_kratos_loads_io.py
Due: yapf

corrected umat test
  benchmark_tests/test_1d_wave_prop_drained_soil_umat/test_1d_wave_prop_drained_soil_umat.py
Due: yapf

corrected multistage umat test
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_/output_vtk_full_model/PorousDomain_0_10.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_/output_vtk_full_model/PorousDomain_0_100.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_/output_vtk_full_model/PorousDomain_0_20.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_/output_vtk_full_model/PorousDomain_0_30.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_/output_vtk_full_model/PorousDomain_0_40.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_/output_vtk_full_model/PorousDomain_0_50.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_/output_vtk_full_model/PorousDomain_0_60.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_/output_vtk_full_model/PorousDomain_0_70.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_/output_vtk_full_model/PorousDomain_0_80.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_/output_vtk_full_model/PorousDomain_0_90.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/test_moving_load_on_beam_on_soil_3D.py
  benchmark_tests/test_multi_stage_umat/output_/json_output_stage_2.json
  benchmark_tests/test_multi_stage_umat/test_multi_stage_umat.py
Due: yapf

corrected moving load on beam on soil 3d linux test
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_linux/output_vtk_full_model/PorousDomain_0_10.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_linux/output_vtk_full_model/PorousDomain_0_100.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_linux/output_vtk_full_model/PorousDomain_0_20.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_linux/output_vtk_full_model/PorousDomain_0_30.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_linux/output_vtk_full_model/PorousDomain_0_40.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_linux/output_vtk_full_model/PorousDomain_0_50.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_linux/output_vtk_full_model/PorousDomain_0_60.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_linux/output_vtk_full_model/PorousDomain_0_70.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_linux/output_vtk_full_model/PorousDomain_0_80.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_linux/output_vtk_full_model/PorousDomain_0_90.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_windows/output_vtk_full_model/PorousDomain_0_10.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_windows/output_vtk_full_model/PorousDomain_0_100.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_windows/output_vtk_full_model/PorousDomain_0_20.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_windows/output_vtk_full_model/PorousDomain_0_30.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_windows/output_vtk_full_model/PorousDomain_0_40.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_windows/output_vtk_full_model/PorousDomain_0_50.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_windows/output_vtk_full_model/PorousDomain_0_60.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_windows/output_vtk_full_model/PorousDomain_0_70.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_windows/output_vtk_full_model/PorousDomain_0_80.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/output_windows/output_vtk_full_model/PorousDomain_0_90.vtk
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/test_moving_load_on_beam_on_soil_3D.py
Due: yapf

corrected linux test files
  benchmark_tests/test_train_uvec_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_train_uvec_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_150.vtk
  benchmark_tests/test_train_uvec_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_train_uvec_3d/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
Due: none

Update tutorials.rst
  docs/tutorials.rst
Due: none

cleanup
  benchmark_tests/test_moving_load_on_beam_on_soil_3D/test_moving_load_on_beam_on_soil_3D.py
  benchmark_tests/test_sdof_uvec_beam_multistage/test_sdof_uvec_multistage.py
  stem/IO/kratos_solver_io.py
  stem/solver.py
Due: yapf, mypy, flake8

precommit
  benchmark_tests/test_sdof_uvec_beam_multistage/test_sdof_uvec_multistage.py
  stem/IO/kratos_solver_io.py
Due: yapf, mypy, flake8

Add UVEC dependency to requirements and setup configuration
  requirements.txt
  requirements_dev.txt
  setup.cfg
Due: none

Add UVEC model support and copy functionality to KratosIO
  stem/IO/kratos_io.py
  stem/load.py
Due: yapf, mypy, flake8

test_train_uvec_3d fixed uvec
  benchmark_tests/test_train_uvec_3d/test_train_on_embankment_3d.py
  benchmark_tests/test_train_uvec_3d/uvec_ten_dof_vehicle_2D/__init__.py
  benchmark_tests/test_train_uvec_3d/uvec_ten_dof_vehicle_2D/base_model.py
  benchmark_tests/test_train_uvec_3d/uvec_ten_dof_vehicle_2D/hertzian_contact.py
  benchmark_tests/test_train_uvec_3d/uvec_ten_dof_vehicle_2D/newmark_solver.py
  benchmark_tests/test_train_uvec_3d/uvec_ten_dof_vehicle_2D/uvec.py
Due: yapf

Enhance UVEC model validation and path setting in KratosIO and UvecLoad
  stem/IO/kratos_io.py
  stem/load.py
Due: yapf, mypy, flake8

fix bug on uvec base model
  benchmark_tests/test_sdof_uvec_beam/uvec_ten_dof_vehicle_2D/base_model.py
  benchmark_tests/test_sdof_uvec_beam_multistage/uvec_ten_dof_vehicle_2D/base_model.py
Due: yapf

Add TODO comment for UVEC model support check in UvecLoad
  stem/load.py
Due: yapf, mypy, flake8

update default strategy type to NewtonRaphsonStrategy in SolverSettings
  stem/solver.py
Due: yapf, mypy, flake8

update some test cases to use LinearNewtonRaphsonStrategy
  benchmark_tests/test_1d_wave_prop_drained_soil/test_1d_wave_prop_drained_soil.py
  benchmark_tests/test_1d_wave_prop_drained_soil_umat/test_1d_wave_prop_drained_soil_umat.py
  benchmark_tests/test_lysmer_boundary_column2d_triangle/test_lysmer_boundary_column2d_triangle.py
  benchmark_tests/test_lysmer_boundary_column2d_triangle_with_two_soils/test_lysmer_boundary_column2d_triangle_with_two_soils.py
  benchmark_tests/test_lysmer_boundary_column3d_tetra_with_two_soils/test_lysmer_boundary_column3d_tetra_with_two_soils.py
Due: yapf

fixed mypy in table
  stem/table.py
Due: yapf, mypy, flake8

fix formatting in test files for consistent import statements
  benchmark_tests/test_1d_wave_prop_drained_soil/test_1d_wave_prop_drained_soil.py
  benchmark_tests/test_lysmer_boundary_column2d_triangle_with_two_soils/test_lysmer_boundary_column2d_triangle_with_two_soils.py
Due: yapf

deleted unnecessary files
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_110.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_120.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_130.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_140.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_150.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_160.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_170.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_180.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_190.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_200.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_40.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_60.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_70.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_80.vtk
  benchmark_tests/test_extended_beam/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_90.vtk
Due: none

remove specific branch reference for StemKratos in requirements files
  requirements.txt
  requirements_dev.txt
  setup.cfg
Due: none

add blank line for improved readability in test_moving_load_on_extended_track
  benchmark_tests/test_extended_beam/test_moving_load_on_extended_track.py
Due: yapf

add UVEC dependency to requirements and setup configuration
  requirements.txt
  requirements_dev.txt
  setup.cfg
Due: none

Path conditions:
  yapf: any of: \.py$
  mypy: any of: ^stem/ and \.py$
  flake8: any of: ^stem/
