Repository StemVibrations/STEM: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, mypy, flake8

yapf:
  name: yapf
  language: python
  entry: yapf
  args:
  - -i

mypy:
  name: mypy
  language: python
  entry: mypy
  args:
  - --config-file
  - pyproject.toml

flake8:
  name: flake8
  language: python
  entry: flake8

plot lables are now on centre of mass rather than centroid
  stem/plot_utils.py
  tests/test_data/expected_geometry_2D.html
  tests/test_data/expected_geometry_3D.html
Due: yapf, mypy, flake8

updated docstrings
  stem/plot_utils.py
Due: yapf, mypy, flake8

updated code cov workflow
  .github/workflows/tests.yml
Due: none

added run file for embankment with joint
  benchmark_tests/test_train_uvec_3d/uvec_ten_dof_vehicle_2D/__init__.py
  benchmark_tests/test_train_uvec_3d/uvec_ten_dof_vehicle_2D/base_model.py
  benchmark_tests/test_train_uvec_3d/uvec_ten_dof_vehicle_2D/hertzian_contact.py
  benchmark_tests/test_train_uvec_3d/uvec_ten_dof_vehicle_2D/irregularities.py
  benchmark_tests/test_train_uvec_3d/uvec_ten_dof_vehicle_2D/newmark_solver.py
  benchmark_tests/test_train_uvec_3d/uvec_ten_dof_vehicle_2D/uvec.py
  run_stem/embankment_with_joint.py
Due: yapf

added irregularities
  run_stem/embankment_with_joint.py
Due: yapf

added bridge show case
  run_stem/bridge.py
Due: yapf

improved bridge showcase
  run_stem/bridge.py
Due: yapf

added rotation constraint for a straight track in 3d
  stem/model.py
Due: yapf, mypy, flake8

extended generate track 3d test
  stem/model.py
  tests/test_model.py
Due: yapf, mypy, flake8

updated test files windows
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_40.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_60.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_70.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_80.vtk
  benchmark_tests/test_moving_load_on_track_hanging_sleepers/output_/output_vtk_porous_computational_model_part/porous_computational_model_part_0_90.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_40.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_60.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_70.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_80.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_windows/output_vtk_porous_computational_model_part/porous_computational_model_part_0_90.vtk
Due: none

updated linux test files
  benchmark_tests/test_moving_load_on_track_on_soil/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_10.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_100.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_20.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_30.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_40.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_50.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_60.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_70.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_80.vtk
  benchmark_tests/test_moving_load_on_track_on_soil/output_linux/output_vtk_porous_computational_model_part/porous_computational_model_part_0_90.vtk
Due: none

geo_data is now generated after settings mesh size
  stem/model.py
Due: yapf, mypy, flake8

added multistage_tests for 3d block and spring damper
  benchmark_tests/test_mass_on_spring_damper_multistage/test_mass_on_spring_damper_multistage.py
  benchmark_tests/test_multi_stage_3d/test_multistage_block_3d.py
Due: yapf

added uvec to showcase
  run_stem/bridge.py
  run_stem/uvec_ten_dof_vehicle_2D/__init__.py
  run_stem/uvec_ten_dof_vehicle_2D/__version__.py
  run_stem/uvec_ten_dof_vehicle_2D/base_model.py
  run_stem/uvec_ten_dof_vehicle_2D/hertzian_contact.py
  run_stem/uvec_ten_dof_vehicle_2D/irregularities.py
  run_stem/uvec_ten_dof_vehicle_2D/newmark_solver.py
  run_stem/uvec_ten_dof_vehicle_2D/uvec.py
Due: yapf

Fix:
  benchmark_tests/test_multi_stage_dynamic_to_static/test_multistage_dynamic_to_static.py
  benchmark_tests/test_multi_stage_umat/test_multi_stage_umat.py
Due: yapf

fix np.NAN to np.nan
  tests/test_utils.py
Due: yapf

Skip UMAT for linux (no .so available)
  benchmark_tests/test_multi_stage_umat/test_multi_stage_umat.py
Due: yapf

Adjustment for json outputs
  stem/model.py
  stem/stem.py
  tests/test_model.py
Due: yapf, mypy, flake8

Fix: on model parts that are body model parts
  stem/model.py
Due: yapf, mypy, flake8

Fix: file extension
  stem/model.py
Due: yapf, mypy, flake8

Fix: add test for raising of errors correctly
  stem/model.py
  tests/test_model.py
  tests/test_stem.py
Due: yapf, mypy, flake8

Fix: tests in stem.py where incorrectly added. Those are tested in model.py.
  tests/test_stem.py
Due: yapf

Fix: add line Json output for the stem test to check the finalisation is done appropriately.
  tests/test_stem.py
Due: yapf

Fix: add test for finalise step (json output)
  tests/test_stem.py
Due: yapf

Fix: add test for missing mesh in target model part for the json output.
  tests/test_model.py
Due: yapf

Fix: wrong definition of model part when None is given to the Output class for the `part_name` input.
  stem/output.py
  tests/test_data/expected_output_parameters.json
  tests/test_kratos_outputs_io.py
Due: yapf, mypy, flake8

change np.NAN for np.nan
  tests/test_utils.py
Due: yapf

table float format is now format_long
  stem/IO/kratos_io.py
  stem/output.py
Due: yapf, mypy, flake8

added semi-analytical solution for strip load on elastic half space
  benchmark_tests/analytical_solutions/strip_load.py
Due: yapf

ran precommit
  benchmark_tests/analytical_solutions/strip_load.py
Due: yapf

updated analytical solution
  benchmark_tests/analytical_solutions/strip_load.py
Due: yapf

replaced NAN with nan
  tests/test_utils.py
Due: yapf

updated some tests
  tests/test_model.py
Due: yapf

updated tests
  tests/test_data/expected_mdpa_file_3d.mdpa
  tests/test_data/expected_mdpa_file_3d_linux.mdpa
Due: none

added .venv to gitignore
  .gitignore
Due: none

chore: update StemKratos dependency to v1.1
  requirements.txt
  requirements_dev.txt
Due: none

Path conditions:
  yapf: any of: \.py$
  mypy: any of: ^stem/ and \.py$
  flake8: any of: ^stem/
